.footer {
		
	margin-top: auto;
// --sPT: #{rem()};
	--sPB: #{rem(20)};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
		justify-content: space-between;
	}
	&__nav {
		padding-top: 30px;
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 100px;
			max-width: 340px;
		}
	}
	&__nav-list {
		list-style-type: none;
		color: $gray-600;
		font-family: $header-font;
		font-size: 16px;
		@include media-breakpoint-up(sm) {
			columns: 2;
		}
		@include media-breakpoint-up(lg) {
			columns: auto;
			display: block;
		}
	}
	&__nav-item {
		&:not(:last-child) {
			margin-right: 10px;
			margin-bottom: 5px;
			@include media-breakpoint-up(lg) {
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	&__nav-link {
		color: inherit;
		&:hover {
			color: $primary;
		}
	}
	&__contacts {
		color: $gray-300;
		font-family: $header-font;
		font-size: rem(32);
		font-weight: 700;
		line-height: 87.188%; 
		a {
			display: block;
			color: inherit;
			&:hover{
				color: $primary;
		 }
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: rem(40) 0;
		color: $gray-600;
		font-size: 11px;
		font-weight: 400;
		@include media-breakpoint-up(md) {
			justify-content: normal;
			padding: rem(60) 0;
		}
		@include media-breakpoint-up(lg) {
			flex-wrap: nowrap;
		}
	}
	&__privacy {
		margin-right: rem(30);
		color: inherit;
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
		}
		@include media-breakpoint-up(lg) {
			margin-right: rem(120);
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}
	.form-wrap__row  {
		--bs-gutter-y: #{rem(24)};
		--bs-gutter-x: #{rem(24)};
		align-items: center;
	}
	.form-wrap__btn {
		position: relative;
		display: flex;
		align-items: center;
		padding: 0;
		margin-bottom: 0;
		height: 48px;
		border-radius: $border-radius;
		border: 1px solid $primary;
		color: $primary;
		font-size: 16px;
		font-weight: 600;
		font-family: $default-font;
		overflow: hidden;
		background-color: transparent;
		@include media-breakpoint-down(sm) {
			width: 100%;
		}
		&:hover {
			color: $gray-600;
			.form-wrap__btn-span {
				// background-color: $white;
			}
			.form-wrap__icon-span {
				// background-color: transparent;
			}
		}
		.form-wrap__btn-span {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			background-color: transparent;
			padding: rem(5) rem(24);
			transition: background-color .3s ease-in-out;
			@include media-breakpoint-down(sm) {
				width: 100%;
			}
		}
		.form-wrap__icon-span {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0;
			background-color: $primary;
			height: 100%;
			width: 48px;
			transition: background-color .3s ease-in-out;
			.icon {
				fill: none;
				stroke: $white;
				stroke-width:2px ;
			}
		}
		img {
			height: 48px;
		}
	}
	.form-wrap__policy {
		color: #000;
		font-size: 11px;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 15px;
		@include media-breakpoint-up(md) {
			max-width: 300px;
			margin-bottom: 0;
		}
		a {
			color: inherit;
			text-decoration: underline;
		}
	}
	.form-wrap__notice {
		color: #000;
		font-size: 11px;
		font-weight: 400;
		line-height: 140%;
	}
	.soc {
		margin-bottom: 15px;
		order: -2;
		width: 100%;
		margin-bottom: 40px;
		@include media-breakpoint-up(md) {
			width: auto;
			order: 0;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(md) {
			margin-right: auto;
		}
	}
	.soc__item:not(:last-child) {
		@include media-breakpoint-down(md) {
			margin-right: 24px;
		}
}
	&__copyright {
		order: -1;
		margin-bottom: 9px;
		@include media-breakpoint-up(sm) {
			order: 0;
			margin-bottom: 0;
		}
		@include media-breakpoint-up(lg) {
			margin-right: 60px;
		}
	}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
