mixin sApp(data)
	// start sApp
	+b.SECTION.sApp.section#sApp&attributes(attributes)
		.container
			+e.container
				+e.text
					+e.subtitle Мобильное приложение
					+e.title.H2 «КЭП» - консультации эпидемиолога
					p информационно-консультационного характера направленное на&nbsp;информационное сопровождение и&nbsp;обеспечение санитарно-эпидемиологического благополучия в&nbsp;организациях и&nbsp;предприятиях
					+e.buttons
						+e.btn.btn.btn-outline-info
							+icon('internet')
							| Веб версия
						+e.btn.btn.btn-outline-info
							+icon('android')
							| Скачать для Android
						+e.btn.btn.btn-outline-info
							+icon('apple')
							| Скачать для iOs
				+e.img-wrap.d-none.d-md-flex
					+img('img/app-img.png').sApp__img

mixin sAppTest(data)
	// start sApp
	+b.SECTION.sApp--test.section#sApp&attributes(attributes)
		.container
			+b.section-title
				h2 Тесты для самопроверки
			+e.container
				+e.text
					+e.subtitle Категория теста
					+e.title.h2 Наименование теста в одну или несколько строк для наглядности отображения
					p информационно-консультационного характера направленное на информационное сопровождение и обеспечение санитарноэпи
					+e.btn.btn.btn-outline-info Пройти тест
				+img('img/app-test-bg.svg').d-none.d-sm-block
	// end sApp

mixin sAppLearning(data)
	// start sApp
	+b.SECTION.sApp--learning.section#sApp&attributes(attributes)
		.container
			+e.container
				+e.title Гигиеническая аттестация и обучение
				+e.btn.btn.btn-outline-info Перейти к обучению

