// start .sApp
.sApp {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&--medicine {
		--sPB: #{rem(14)};
	}
	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		// flex-direction: column;
		border-radius: 12px;
		color: $white;
		background-color: $primary;
		background-image: url('../img/app-bg.svg');
		background-repeat: no-repeat;
		background-position: 100% 0;
		background-size: auto 100%;
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
	&__text {
		display: flex;
		flex-direction: column;
		padding: rem(10);
		z-index: 1;
		@include media-breakpoint-up(sm) {
			padding: rem(40);
		}
		@include media-breakpoint-up(md) {
			width: 75%;
		}
		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}
	&__subtitle {
		margin-bottom: 16px;
		// color: $gray-600;
		font-family: $header-font;
		line-height: 87%;
	}
	&__title {
		margin-bottom: 16px;
		color: $white;
	}
	p  {
		flex-grow: 1;
		max-width: 601px;
		font-size: rem(18);
		line-height: 140%;
	}
	&__buttons {
		display: flex;
		flex-wrap: wrap;
	}
	&__btn {
		display: flex;
		align-items: center;
		align-self: flex-start;
		justify-content: center;
		margin-bottom: 10px;
		padding: rem(10) rem(10);
		font-family: $header-font;
		font-size: rem(16);
		font-weight: 700;
		--bs-btn-color: $body-color;
		width: 100%;
		&:not(:last-child) {
			@include media-breakpoint-up(md) {
				margin-right: 10px;
			}
		}
		@include media-breakpoint-up(md) {
			padding: rem(12) rem(20);
			width: auto;
			font-size: rem(20);
		}
		@include media-breakpoint-up(xxl) {
			margin-bottom: 0;
		}
		.icon {
			width: 16px;
			height: 16px;
			margin-right: 10px;
		}
	}
	&__img-wrap {
		position: absolute;
		bottom: 0;
		left: 75%;
		flex-shrink: 0;
		object-fit: contain;
		object-position: right bottom;
		@include media-breakpoint-up(md) {
			align-items: flex-end;
		}
		@include media-breakpoint-up(lg) {
			position: static;
			padding-top: 60px;
			padding-right: 80px;	
		}
	}
	&__img {
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}

	&--test {
		.sApp__container {
			background-image: none;
			max-width: 100%;
		}
		.sApp__text {
			flex-shrink: 0;
			width: 100%;
			@include media-breakpoint-up(sm) {
				width: 70%;
			}
			@include media-breakpoint-up(xl) {
				flex-shrink: 1;
			}
		}
		img {
			position: absolute;
			left: 50%;
			bottom: 0;
			@include media-breakpoint-up(lg) {
				position: static;
			}
		}
	}
	&--learning {
		padding-top: 14px;
		padding-bottom: 32px;
		.sApp__container {
			flex-direction: column;
			padding: 24px;
			border-radius: 12px;
			background:$red;
			background-image: url('../img/learning-bg.png');
			background-repeat: no-repeat;
			@media (max-width: 375px) {
				background-position: 200% 10%;
			}
			background-position: 100% 10%;
			@include media-breakpoint-up(xl) {
				align-items: center;
				flex-direction: row;
				background-position: 77% 10%;
				background-size: 227px 385px;
			}
		}
		.sApp__title {
			margin-bottom: 20px;
			max-width: 70%;
			font-family:$header-font;
			font-size: rem(24);
			font-weight: 700;
			line-height: 100%;
			text-transform: uppercase;
			@include media-breakpoint-up(sm) {
				font-size: rem(32);
			}
			@include media-breakpoint-up(xl) {
				margin-bottom: 0;
				max-width: none;
			}
		}
		.sApp__btn {
			margin-bottom: 0;
			max-width: 70%;
			@include media-breakpoint-up(sm) {
				max-width: none;
			}
		}
	}
} // end.sApp