mixin sBreach(data)
	// start sBreach
	+b.SECTION.sBreach.section#sBreach&attributes(attributes)
		.container
			+b.section-title
				h2 Часто встречающиеся нарушения для этого вида деятельности
			ul
				li Не&nbsp;выполняются санитарно-эпидемиологические требования к&nbsp;водоснабжению и&nbsp;канализации зданий медицинских организаций. На&nbsp;случай выхода из&nbsp;строя или проведения профилактического ремонта системы горячего водоснабжения не&nbsp;предусмотрено резервное горячее водоснабжение
				li Не&nbsp;выполняются санитарно-эпидемиологические требования к&nbsp;системам отопления, вентиляции, микроклимату и&nbsp;воздушной среде помещений. Не&nbsp;проводиться проверка эффективности работы, а&nbsp;также очистка и&nbsp;дезинфекция систем механической приточно-вытяжной вентиляции и&nbsp;кондиционирования. Не&nbsp;соблюдаются сроки проведения уборок помещений вентиляционных камер и&nbsp;воздухозаборных шахт
				li Не&nbsp;выполняются санитарно-эпидемиологические требования к&nbsp;естественному, искусственному и&nbsp;совмещенному освещению помещений. Показатели естественного, искусственного и&nbsp;совмещенного освещения не&nbsp;соответствуют гигиеническим нормативам.
				li Не&nbsp;выполняются санитарно-эпидемиологические требования к&nbsp;внутренней отделке помещений. Не&nbsp;обеспечена гладкая поверхность стен, потолков, полов (имеются щели, трещины, выбоины, отслоившаяся краска), что препятствует проведению легкодоступной влажной уборки с&nbsp;моющими и&nbsp;дезинфицирующими средствами
				li Нарушаются требования санитарно-эпидемиологического законодательства при обращении с&nbsp;медицинскими отходами. Схема обращения с&nbsp;медицинскими отходами. Осуществляется совместное хранение и&nbsp;утилизация медицинских отходов различных классов опасности
				li Не&nbsp;выполняются требования по&nbsp;оценке эффективности режимов стерилизации медицинских изделий
				li Отсутствие должного контроля за&nbsp;соблюдением санитарно-гигиенического и&nbsp;противоэпидемического режимов, с&nbsp;проведением лабораторно-инструментальных исследований, в&nbsp;рамках программ производственного контроля
				li В&nbsp;программах производственного контроля не&nbsp;в&nbsp;полном объеме отражен раздел лабораторно-инструментального контроля, имеются ссылки на&nbsp;нормативные документы, утратившие силу
			+b.alarm
				+e.text
					p За&nbsp;совершение административных правонарушений в&nbsp;области санитарно-эпидемиологического благополучия населения могут устанавливаться и&nbsp;применяться следующие административные наказания, в&nbsp;соответствии с&nbsp;Кодексом Российской Федерации об&nbsp;административных правонарушениях:
					ol
						li предупреждение;
						li административный штраф;
						li конфискация орудия совершения или предмета административного правонарушения;
						li административное приостановление деятельности.
	// end sBreach