mixin sEpidGuide(data)
	+b.SECTION.sEpidGuide.section#sEpidGuide&attributes(attributes)
		.container
			+b.section-title
				h2 ОТ а до я
			p Наши эпидемиологические знания&nbsp;&mdash; надежное руководство для предпринимателей. В&nbsp;&laquo;Эпидемиологическом Справочнике&raquo; вы&nbsp;найдете ключевые сведения о&nbsp;различных заболеваниях, их&nbsp;воздействии на&nbsp;бизнес, и&nbsp;применимые меры предосторожности.
			+e.container
				h3 Сфера деятельности
				+e.swiper.swiper
					.swiper-wrapper
						.swiper-slide
							+in-c('checkbox','ВСЕ','field')
						.swiper-slide
							+in-c('checkbox','Медицина','field')(checked)
						.swiper-slide
							+in-c('checkbox','Социальные организации','field')(checked)
						.swiper-slide
							+in-c('checkbox','Коммунальные услуги','field')
						.swiper-slide
							+in-c('checkbox','Персональные услуги','field')
						.swiper-slide
							+in-c('checkbox','Гостиницы и туризм','field')
						.swiper-slide
							+in-c('checkbox','Культура, досуг и отдых','field')
						.swiper-slide
							+in-c('checkbox','Детские и молодежные организации','field')
						.swiper-slide
							+in-c('checkbox','Пищевое производство','field')
						.swiper-slide
							+in-c('checkbox','Общественное питание','field')
						.swiper-slide
							+in-c('checkbox','Торговля','field')
						.swiper-slide
							+in-c('checkbox','Промышленность и сельское хозяйство','field')
						.swiper-slide
							+in-c('checkbox','Транспорт','field')
				h3 Наименование заболеваний:
				+e.swiper.swiper
					.swiper-wrapper
						.swiper-slide
							+in-c('checkbox','ВСЕ','letter')
						.swiper-slide
							+in-c('checkbox','Б','letter')
						.swiper-slide
							+in-c('checkbox','В','letter')
						.swiper-slide
							+in-c('checkbox','Г','letter')(checked)
						.swiper-slide
							+in-c('checkbox','Д','letter')
						.swiper-slide
							+in-c('checkbox','И','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','К','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','Л','letter')
						.swiper-slide
							+in-c('checkbox','М','letter')
						.swiper-slide
							+in-c('checkbox','О','letter')
						.swiper-slide
							+in-c('checkbox','П','letter')
						.swiper-slide
							+in-c('checkbox','С','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','Т','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','Х','letter')
						.swiper-slide
							+in-c('checkbox','Ч','letter')
						.swiper-slide
							+in-c('checkbox','Э','letter')
				h3 Заболевания
					//- +e.disease-list.UL
				+e.swiper--disease.swiper
					.swiper-wrapper
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip") Гельминтозы, передающиеся через мясо и мясные продукты
								.tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip") Гельминтозы, передающиеся через рыбу, ракообразных, моллюсков, земноводных, пресмыкающихся
								.tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item 
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip") Геморрагическая лихорадка с почечным синдромом (ГЛПС)
								.tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip") Геогельминтозы (аскаридоз, трихоцефалез, токсокароз)
								.tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip") Гепатиты В и С.
								.tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip") Грипп и другие ОРВИ
								.tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
				+e.more(href="#") Показать все 8
mixin sEpidGuideOld(data)
	// start sEpidGuide
	+b.SECTION.sEpidGuide.section#sEpidGuide&attributes(attributes)
		.container
			+b.section-title
				h2 Эпидемиологический справочник предпринимателя
			+e.container.tabs
					+e.caption.tabs__caption.swiper.freemode-slider--js
						.swiper-wrapper
							+e.title.swiper-slide.tabs__btn.active.h3
								+e.btn Основные понятия
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Кишечные инфекции
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Инфекции дыхательных путей
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Кровяные инфекции
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Трансмиссивные инфекции
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Инфекции наружных покровов
					+e.content.tabs__content.active
						ul
							li: a(href="#") Эпидемиология
							li: a(href="#") Специфическая профилактика
							li: a(href="#") Неспецифическая профилактика
							li: a(href="#") Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
	// end sEpidGuide