mixin sEpidGuide(title)
	+b.SECTION.sEpidGuide.section#sEpidGuide&attributes(attributes)
		+e.tooltips
			.tooltip(role="tooltip" id='tooltip-1') Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимозОсновными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
			.tooltip(role="tooltip" id='tooltip-2') Основными гельминтозами,
			.tooltip(role="tooltip" id='tooltip-3') Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
			.tooltip(role="tooltip" id='tooltip-4') Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
			.tooltip(role="tooltip" id='tooltip-5') Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
			.tooltip(role="tooltip" id='tooltip-6') Основными гельминтозами,
		.container
			if title
				+b.section-title
					h2= title
			else
				p Наши эпидемиологические знания&nbsp;&mdash; надежное руководство для предпринимателей. В&nbsp;&laquo;Эпидемиологическом Справочнике&raquo; вы&nbsp;найдете ключевые сведения о&nbsp;различных заболеваниях, их&nbsp;воздействии на&nbsp;бизнес, и&nbsp;применимые меры предосторожности.
			+e.container
				h3 Сфера деятельности
				+e.swiper.swiper.sm-swiper-js
					.swiper-wrapper
						.swiper-slide
							+in-c('checkbox','ВСЕ','field')
						.swiper-slide
							+in-c('checkbox','Медицина','field')(checked)
						.swiper-slide
							+in-c('checkbox','Социальные организации','field')(checked)
						.swiper-slide
							+in-c('checkbox','Коммунальные услуги','field')
						.swiper-slide
							+in-c('checkbox','Персональные услуги','field')
						.swiper-slide
							+in-c('checkbox','Гостиницы и туризм','field')
						.swiper-slide
							+in-c('checkbox','Культура, досуг и отдых','field')
						.swiper-slide
							+in-c('checkbox','Детские и молодежные организации','field')
						.swiper-slide
							+in-c('checkbox','Пищевое производство','field')
						.swiper-slide
							+in-c('checkbox','Общественное питание','field')
						.swiper-slide
							+in-c('checkbox','Торговля','field')
						.swiper-slide
							+in-c('checkbox','Промышленность и сельское хозяйство','field')
						.swiper-slide
							+in-c('checkbox','Транспорт','field')
				h3 Наименование заболеваний:
				+e.swiper.swiper.sm-swiper-js
					.swiper-wrapper
						.swiper-slide
							+in-c('checkbox','ВСЕ','letter')
						.swiper-slide
							+in-c('checkbox','Б','letter')
						.swiper-slide
							+in-c('checkbox','В','letter')
						.swiper-slide
							+in-c('checkbox','Г','letter')(checked)
						.swiper-slide
							+in-c('checkbox','Д','letter')
						.swiper-slide
							+in-c('checkbox','И','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','К','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','Л','letter')
						.swiper-slide
							+in-c('checkbox','М','letter')
						.swiper-slide
							+in-c('checkbox','О','letter')
						.swiper-slide
							+in-c('checkbox','П','letter')
						.swiper-slide
							+in-c('checkbox','С','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','Т','letter')(disabled)
						.swiper-slide
							+in-c('checkbox','Х','letter')
						.swiper-slide
							+in-c('checkbox','Ч','letter')
						.swiper-slide
							+in-c('checkbox','Э','letter')
				h3 Важно знать об этих инфекциях
					//- +e.disease-list.UL
				+e.swiper--disease.swiper.sm-swiper-js
					.swiper-wrapper
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip" data-tooltip="#tooltip-1") Гельминтозы, передающиеся через мясо и мясные продукты
								//- .tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								//- +e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip" data-tooltip="#tooltip-2") Гельминтозы, передающиеся через рыбу, ракообразных, моллюсков, земноводных, пресмыкающихся
								//- .tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item 
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip" data-tooltip="#tooltip-3") Геморрагическая лихорадка с почечным синдромом (ГЛПС)
								//- .tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip" data-tooltip="#tooltip-4") Геогельминтозы (аскаридоз, трихоцефалез, токсокароз)
								//- .tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip" data-tooltip="#tooltip-5") Гепатиты В и С.
								//- .tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
						.swiper-slide
							+e.disease-item
								.tooltip-btn.btn.BUTTON(aria-describedby="tooltip" data-tooltip="#tooltip-6") Грипп и другие ОРВИ
								//- .tooltip(role="tooltip") Основными гельминтозами, передающимися через рыбу, ракообразных, моллюсков и продукты их переработки, являются описторхозы, дифиллоботриозы, анизакидоз, спарганоз, нанофиетоз, метагонимоз, парагонимоз
								+e.disease-link(href="#")
									+icon('link-arrow')
				.row.align-items-center
					.col
						+e.more(href="#") Показать все 8
					.col-auto 
						a.btn.btn-primary(href="https://cepportal.ru/epidemiologicheskiy-spravochnik/") Открыть справочник

mixin sEpidBanner(data)
	// start sEpidGuide
	+b.SECTION.sEpidGuideBanner.section#sEpidGuide&attributes(attributes)
		.container
			+e.container
				+b.section-title
					h2 Эпидемиологический справочник от а до я
				p Наши эпидемиологические знания – надежное руководство для предпринимателей. В "Эпидемиологическом Справочнике" вы найдете ключевые сведения о различных заболеваниях, их воздействии на бизнес, и применимые меры предосторожности.
				+e.btn.btn.btn-outline-info(href="06-epid-guide.html") Открыть справочник
				+e.img-wrap.d-none.d-sm-block
					+img('img/epidguide-banner.png')
	// end sEpidGuide