mixin sEpidGuide(data)
	// start sEpidGuide
	+b.SECTION.sEpidGuide.section#sEpidGuide&attributes(attributes)
		.container
			+b.section-title
				h2 Эпидемиологический справочник предпринимателя
			+e.container.tabs
					+e.caption.tabs__caption.swiper.freemode-slider--js
						.swiper-wrapper
							+e.title.swiper-slide.tabs__btn.active.h3
								+e.btn Основные понятия
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Кишечные инфекции
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Инфекции дыхательных путей
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Кровяные инфекции
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Трансмиссивные инфекции
							+e.title.swiper-slide.tabs__btn.h3
								+e.btn Инфекции наружных покровов
					+e.content.tabs__content.active
						ul
							li: a(href="#") Эпидемиология
							li: a(href="#") Специфическая профилактика
							li: a(href="#") Неспецифическая профилактика
							li: a(href="#") Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
					.tabs__content
						ul
							li Эпидемиология
							li Специфическая профилактика
							li Неспецифическая профилактика
							li Пути, факторы и механизмы передачи инфекции и т.д.
	// end sEpidGuide