mixin sNews(data)
	// start sNews
	+b.SECTION.sNews.section#sNews&attributes(attributes)
		.container
			+e.row.row
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('1')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('2')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('3')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('4')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('2')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('1')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('2')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('3')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('4')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('2')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('3')
				+e.col.col-12.col-sm-6.col-lg-3
					+contentItem('4')
			+e.more-wrap
				+e.btn.btn.btn-outline-dark.BUTTON Показать еще
	// end sNews