@use "sass:math";

.iconC {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.iconC-emblem {
	$h: 30;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(27 / #{$h} *1em );
}
.iconC-guide-item-6 {
	$h: 64;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(56 / #{$h} *1em );
}
.iconC-telegram {
	$h: 16;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(16 / #{$h} *1em );
}
.iconC-telegram-c {
	$h: 40;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(40 / #{$h} *1em );
}
.iconC-vk {
	$h: 40;
	font-size:calc( #{$h} / #{$rfs-rem-value} * 1rem);
	width: calc(40 / #{$h} *1em );
}
