// start .sSlider
.sSlider {
	--sPT: #{rem(0)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&-light {
		.container .section-title h2 {
			color:$gray-600;
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		h2 {
			color: $body-color;
		}
	}
	&__col{

	}
	&__item{

	}

	.swiper {
		@include media-breakpoint-down(sm) {
			overflow: visible;
		}
	}
	.swiper-slide {
		height: auto;
		max-width: 314px;
	}
	&__slider {
		margin: -8px;
		padding: 8px;
	}
		&--main {
			.section-title {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				@include media-breakpoint-up(md) {
					align-items: normal;
				}
				h2 {
					color: $gray-600;
					margin-right: 16px;
				}
			}
		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider

.content-item {
	display: flex;
	flex-direction: column;
	height: 100%;
	background-color: $white;
	border-radius: 12px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.07);
	overflow: hidden;
	&:hover {
		.content-item__title {
			color: $primary;
		}
	}
	&__img-wrap {
		width: 100%;
		img {
			height: 255px;
			width: 100%;
			object-fit: cover;
		}
	}
	&__text-wrap {
		display: flex;
		flex-direction: column;
		padding: 16px;
		height: 100%;
	}
	&__title {
		flex-grow: 1;
		-webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
		margin-bottom: 46px;
		// padding-bottom: 4px;
    overflow: hidden;
		font-family: $header-font;
		font-size: rem(24);
		font-weight: 700;
		line-height: 1;
		color: $body-color;
		transition: color .3s ease-in-out;
	}
	&__date {
		font-family: $header-font;
		font-size: 14px;
		color: rgba($body-color, .5);
	}
}