// start .headerBlock
.headerBlock {
	--sPT: #{rem(30)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(60)};
	}
	// --sPB: #{rem()};
	// --sTPB: #{rem()}; 
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	
	
	&__row{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include media-breakpoint-up(md) {
			flex-wrap: nowrap;
		}
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: var(--bs-gutter-x);

	}
	&__text {
		width: 100%;
		font-size: rem(18);
		line-height: 140%; 
		@include media-breakpoint-up(md) {
			max-width: 336px;
		}
	}
	&__video-wrap {
		@include block(560,849);
		max-width: 700px;
		width: 100%;
		border-radius: 12px;
		overflow: hidden;
		@include media-breakpoint-up(xl) {
			max-width: 849px;
		}
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__img-wrap {
		width: 100%;
		border-radius: 12px;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	&--des, &--mission {
		.headerBlock__row {
			flex-wrap: wrap;
		}
		@include media-breakpoint-up(lg) {
			p {
				max-width: 506px;
				font-size: rem(18);
			}
		}
	}
	&--mission {
		@include media-breakpoint-up(lg) {
			p {
				max-width: none;
			}
		}

	}

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock