mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row
				+e.text
					p Здесь рассматриваются санитарно-эпидемиологические требования к&nbsp;организациям, предоставляющим гостиничные услуги (гостиницам, отелям), санаториям, домам отдыха, центрам отдыха, пансионатам, апарт-отелям, комплексам апартаментов, мотелям, хостелам, загородным отелям, туристическим базам, базам отдыха).
				+e.video-wrap
					<iframe width="560" height="315" src="https://www.youtube.com/embed/mIYoasoNa5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
	// end headerBlock
mixin headerBlock2()
	// start headerBlock2
	+b.headerBlock--des.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				.col-12.col-lg-6
					p Дезинсекция (фр. d&eacute;s-, означающая уничтожение, удаление + лат. insectum&nbsp;&mdash; насекомое)&nbsp;&mdash; один из&nbsp;видов обеззараживания, представляющий собой уничтожение артроподов (насекомых и&nbsp;клещей), способных переносить трансмиссивные инфекции, вредить запасам продовольствия и&nbsp;растениям, с&nbsp;помощью специальных химических, физических (путём воздействия горячей воды или пара, электроразрядные, механические) или биологических средств.
					p Под дезинсекцией также понимается процедура уничтожения любых членистоногих, чьё соседство с&nbsp;человеком считается нежелательным: мухи, комары, тараканы, муравьи, постельные клопы, блохи.
				.col-12.col-lg-6
					+e.img-wrap
						+img('img/header-hotels.jpg')
	// end headerBlock2

mixin headerBlock3(p,img,title)
	// start headerBlock3
	+b.headerBlock--mission.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				.col-12.col-lg-6
					p!= p
					if block
						block
				.col-12.col-lg-6
					+e.img-wrap
						+img(`img/${img}.jpg`)
						if title
							+e.img-title КЭП - ваш надежный партнер в соблюдении санитарных&nbsp;правил!
	// end headerBlock2
mixin headerBlock4(p,img)
	// start headerBlock3
	+b.headerBlock--mission.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				.col-12.col-md-6
					p!= p
					if block
						block
				.col-12.col-md-6
					+e.img-wrap
						+img(`img/${img}.jpg`)

mixin headerBlock4(p,img)
	// start headerBlock4
	+b.headerBlock--medicine.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				.col-lg-7.col-xl-6
					p Медицинская деятельность&nbsp;&mdash; профессиональная деятельность по&nbsp;оказанию медицинской помощи, проведению медицинских экспертиз, медицинских осмотров и&nbsp;медицинских освидетельствований, санитарно-противоэпидемических (профилактических) мероприятий и&nbsp;профессиональная деятельность, связанная с&nbsp;трансплантацией (пересадкой) органов&nbsp;и (или) тканей, обращением донорской крови&nbsp;и (или) ее&nbsp;компонентов в&nbsp;медицинских целях.
					p Это важная отрасль, которая оказывает огромное влияние на&nbsp;качество и&nbsp;продолжительность жизни человека. Медицинская помощь необходима всем без исключения: от&nbsp;новорожденных до&nbsp;пожилых людей. 
					p Большинство организаций, осуществляющую свою деятельность в&nbsp;области здравоохранения отнесены к&nbsp;категориям чрезвычайно высокого и&nbsp;высокого риска. (Объекты чрезвычайно высокого и&nbsp;высокого риска).
				.col-lg-5.col-xl-6
					+e.video-wrap
						video(poster="img/medicine-poster.jpg")
							source(src="#")
							p Ваш браузер не поддерживает HTML5 видео. Используйте #[span a(href="#") ссылку на видео] для доступа.
	// end headerBlock2