mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.row.row
				+e.text
					p Здесь рассматриваются санитарно-эпидемиологические требования к&nbsp;организациям, предоставляющим гостиничные услуги (гостиницам, отелям), санаториям, домам отдыха, центрам отдыха, пансионатам, апарт-отелям, комплексам апартаментов, мотелям, хостелам, загородным отелям, туристическим базам, базам отдыха).
				+e.video-wrap
					<iframe width="560" height="315" src="https://www.youtube.com/embed/mIYoasoNa5M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				
	// end headerBlock