mixin rpnContentItem(title, descr, more)
	+e.item.LI&attributes(attributes)
		+e.title!= title
		+e.descr
			p!= descr
		if block
			block
		else if more
			+e.more(href="#") Подробнее
				+icon('arrow-right')
		else
			+e.btn.btn.btn-outline-danger
				+icon('internet') 
				| Перейти в Госуслуги
mixin sRpn(main)
	// start sRpn
	+b.SECTION.sRpn.section#sRpn&attributes(attributes)
		.container
			+e.wrap
				+e.text
					+b.section-title
						h2 Мой роспотребнадзор
					if main
						p Разъяснение контрольно-надзорной деятельности Роспотребнадзора, с&nbsp;целью минимизации риска и&nbsp;причинения вреда, охраняемым законом ценностям, вызванных нарушениями обязательных требований, а&nbsp;также защита прав и&nbsp;законных интересов предпринимателей.
					else
						+e.subtitle Вся информация для просмотра возможностей
						+e.info-list.UL
							+e.info-item.LI Путеводитель по антикризисной поддержке МСП
							+e.info-item.LI Актуальные новости о мерах господдержки и мероприятиях от центров «Мой бизнес»
							+e.info-item.LI Пошаговые инструкции, подборки советов и сервисов
							+e.info-item.LI «Горячие линии» для консультаций
					+e.btn.btn.btn-outline-secondary
						+icon('internet')
						| Найти центр в своем регионе
				+e.img-wrap
					+img('img/rpn.jpg')
	// end sRpn

mixin sRpnContent()
	// start sRpn
	+b.SECTION.sRpnContent.section#sRpn&attributes(attributes)
		.container
			+e.list.UL
				if block
					block
				else
					+rpnContentItem('Найди свое территориальное Управление Роспотребнадзора и&nbsp;центр гигиены и&nbsp;эпидемиологии', 'Используйте нашу удобную карту с&nbsp;функцией поиска, чтобы найти ближайшее к&nbsp;вам территориальное управление Роспотребнадзора и&nbsp;центр гигиены и&nbsp;эпидемиологии. Здесь вы&nbsp;сможете получить актуальную информацию и&nbsp;поддержку, связанную с&nbsp;соблюдением санитарно-эпидемиологических норм и&nbsp;правил.').--map
						+e.map-wrap
							+e.search
								form
									button.btn(type="button")
										+icon('search')
									input#suggest1(type="text" placeholder="Название населенного пункта" inputmode='search'  )
									+e.delete-btn.btn.BUTTON: +icon('close')
							+e.search-result.UL#myDropdown
							+e.map#map2
					+rpnContentItem('О&nbsp;Роспотребнадзоре, его органах и&nbsp;организациях', 'Роспотребнадзор, или Федеральная служба по&nbsp;надзору в&nbsp;сфере защиты прав потребителей и&nbsp;благосостояния человека, является ключевым государственным органом','more')
					+rpnContentItem('Контрольно-надзорная деятельность Роспотребнадзора', 'Узнайте подробности о&nbsp;контрольно-надзорной деятельности Роспотребнадзора и&nbsp;о&nbsp;том, какие меры принимаются для обеспечения соблюдения санитарно-эпидемиологических стандартов на&nbsp;предприятиях и&nbsp;в&nbsp;организациях.','more')
					+rpnContentItem('Разрешительные документы Роспотребнадзора, необходимые для получения на&nbsp;этапе открытия предприятия', 'Узнайте, какие разрешительные документы требуются на&nbsp;этапе открытия предприятия и&nbsp;как получить необходимые разрешения у&nbsp;Роспотребнадзора.','more')
					+rpnContentItem('Соблюдение санитарно-эпидемиологического законодательства в&nbsp;процессе осуществления предпринимательской деятельности', 'Познакомьтесь с&nbsp;основами соблюдения санитарно-эпидемиологического законодательства в&nbsp;12&nbsp;ключевых отраслях предпринимательства.','more')
					+rpnContentItem('Обжалование решений контрольных (надзорных) органов', 'Если у&nbsp;вас возникли вопросы или несогласие с&nbsp;решением контрольных органов, узнайте, как правильно обжаловать решение и&nbsp;защитить свои интересы.','more')
					+rpnContentItem('Государственные услуги, предоставляемые Роспотребнадзором', 'Получите доступ к&nbsp;государственным услугам, предоставляемым Роспотребнадзором, через официальный портал Госуслуги:')
			p Мы&nbsp;стремимся обеспечить вас всей необходимой информацией и&nbsp;поддержкой, чтобы ваше предприятие было безопасным и&nbsp;соответствовало всем санитарно-эпидемиологическим требованиям.
			p Пользуйтесь нашими ресурсами и&nbsp;участвуйте в&nbsp;обеспечении общественного здоровья и&nbsp;безопасности.
							
