// start .sTraining
.sTraining {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};

	}
	.section-title {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		@include media-breakpoint-up(md) {
			align-items: normal;
		}
		h2 {
			color: $gray-600;
			margin-right: 16px;
		}
	}
	&__col{

	}
	&__item{
		display: flex;
		flex-direction: column;
		padding: rem(16);
		min-height: 421px;
		border-radius: 12px;
		overflow: hidden;
		background-repeat: no-repeat;
		background-position: 100% 100%;
		@include media-breakpoint-up(sm) {
			height: 100%;
		}
		@include media-breakpoint-up(lg) {
			padding: rem(24);
		}
		&--law {
			color: $white;
			background-color: $primary;
			background-image: url('../img/law-item-bg.png');
			@include media-breakpoint-up(sm) {
				background-position: 85% bottom;
			}
			@include media-breakpoint-up(lg) {
				background-position: 115% bottom;
			}
			@include media-breakpoint-up(xl) {
				background-position: 95% bottom;
			}
			@media (max-width:375px) {
				background-position: 130% 120%;
			}
		}
		&--certification {
			color: $white;
			background-color: #BE1722;
			background-image: url('../img/sertf-item-bg.png');
			// background-position: 90px 100%;
			// @include media-breakpoint-up(sm) {

			// }
			@include media-breakpoint-up(lg) {
				background-size: auto;
				background-position: 150% bottom;
			}
			@include media-breakpoint-up(xl) {
				background-position: right bottom;
			}
			@media (max-width:375px) {
				background-position: 80px 120%;
			}
		}

		p, ul {
			font-size: rem(18);
			@include media-breakpoint-down(lg) {
				font-size: rem(16);
			}
		}
		ul {
			padding-left: 20px;
			max-width: 70%;
			line-height: 140%;
			li {
				margin-bottom: 5px;
			}
		}
	}
	&__item-body {
		@include media-breakpoint-down(lg) {
			min-height: 130px;
		}
	}
	&__item-bottom {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex-grow: 1;
	}
	&__item-title {
		margin-bottom: 16px;
		line-height: 1;
		color: inherit;
		max-width: 256px;
		@include media-breakpoint-up(sm) {
			max-width: 360px;
		}
	}
	&__item-info {
		margin-bottom: rem(24);
		font-size: 14px;
		@include media-breakpoint-down(sm) {
			max-width: 200px;
		}
	}
	&__video-link {
		display: flex;
		align-items: center;
		margin-bottom: rem(24);
		font-size: rem(18);
		color: inherit;
		@include media-breakpoint-down(sm) {
			max-width: 200px;
			font-size: 16px;
		}
		.icon {
			margin-right: 12px;
			width: 24px;
			height: 24px;
		}
	}
	&__btn {
		padding: 13px 19px;
		align-self: flex-start;
		width: auto;
		font-size: rem(20);
		color: inherit;
		border-color: inherit;
		@include media-breakpoint-down(sm) {
			padding: 7px 19px;
			font-size: 16px;
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sTraining