// start .sAbout
.sAbout {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem(24)};
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
	}
	&__logo-row {
		align-items: center;
	}
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: rem(16);
		margin-bottom: 24px;
		border-radius: 12px;
		background: $white;
		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			padding: rem(40);
		}
	}
	h1 {
		margin-bottom: rem(24);
		text-align: center;
		font-size: 40px;
		@include media-breakpoint-up(lg) {
			// margin-bottom: 0;
			text-align: left;
		}
	}
	&__text {
		p {
			margin-bottom: 24px;
			font-size: 14px;
			line-height: 140%;
		}
	}
	
	.section-title{
		flex-grow: 1;
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			margin-right: 24px;
		}
	}
	&__img-wrap {
		position: relative;
		margin: 0 auto 20px;
		text-align: center;
		max-width: 386px;
		@include media-breakpoint-up(lg) {
			margin: 0;
			text-align: left;
		}
		img {
			max-width: 386px;
			max-width: 100%;
		}		
	}
	&__link {
		position: absolute;
		display: inline-block;
		top: 50%;
		width: 50%;
		height: 100%;
		transform: translateY(-50%);
		&--rpn {
			left: 0;
		}
		&--shield {
			right: 0;
		}
	}
	.slider-wrapper {
		height: 100%;
	}
	&__slider {
		height: 100%;
	}
	&__video-wrap {
		position: relative;
		@include block(327,343);
		border-radius: 12px;
		overflow: hidden;
		height: 100%;
		max-width: 100%;
		@include media-breakpoint-up(sm) {
			@include block(601,953);
		}
		video, video[poster] {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%);
		}
	}
	&__video-title {
		position: absolute;
		bottom: 40px;
		left: 14px;
		color: $white;
		z-index: 10;
		font-size: rem(32);
		text-transform: none;
		@include media-breakpoint-up(sm) {
			left: 50px;
			bottom: 90px;
			font-size: rem(40);
		}
	}
	.slider-controls {
		position: absolute;
		bottom: 0px;
		left: 14px;
		width: calc(100% - 28px);
		z-index: 20;
		@include media-breakpoint-up(sm) {
			width: auto;
			left: 44px;
			bottom: 32px;
		}
		.icon {
			stroke: $white;
		}
	}
	.swiper-pagination {
    display: flex;
    margin-right: 34px;
    align-items: center;
}
	&__col{

	}
	&__item{
		position: relative;
		display: block;
		padding: 27px 24px 24px;
		height: 100%;
		border-radius: 12px;
		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);
		overflow: hidden;
		@include media-breakpoint-up(sm) {
			min-height: 144px;
		}
		&--well-being {
			background-color: $primary;
			.sAbout__item-title {
				position: relative;
				max-width: 404px;
				color: $white;
				z-index: 5;
			}
			.sAbout__item-img {
				background-image: url('../img/main-item-1.png');
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		&--shield {
			background-color: $red;
			.sAbout__item-title {
				max-width: 243px;
				color: $white;
			}
			.sAbout__item-img {
				background-image: url('../img/main-item-2-sm.png');
				background-repeat: no-repeat;
				background-size: cover;
				@include media-breakpoint-up(sm) {
					background-image: url('../img/main-item-2.png');
				}
			}
		}
	}
	&__item-img {
		position: absolute;
		content: '';
		height: 100%;
		width: 50%;
		top: 0;
		right: 0;
		background-size: cover;
	}
	&__btn {
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
		}
	}
	.sApp {
		height: 100%;
	}
	.sApp__container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		background-image: url('../img/emblem-bg.svg');
		background-position: 50% 50%;
		background-size: auto;
		@include media-breakpoint-up(lg) {
			background-position: 50% 200%;
		}
		img {
			position: absolute;
			bottom: 0;
			left: calc(16px + 259px - 40px) ;
			max-height: calc(100% - 16px);
			@include media-breakpoint-up(sm) {
				left: auto;
				right: 0;
				max-width: 50%;
			}
			@include media-breakpoint-up(lg) {
				position: static;
				max-width: none;
			}
		}
	}
	.sApp__text {
		padding: 16px;
		@include media-breakpoint-up(sm) {
			padding: 24px;
		}
		@include media-breakpoint-up(lg) {
			padding: 40px;
		}
	}
	.sApp__title {
		max-width: 259px;
		@include media-breakpoint-up(sm) {
			max-width: 50%;
		}
		@include media-breakpoint-up(lg) {
			max-width: none;
		}
	}
	.sApp__buttons  {
		flex-wrap: nowrap;
		flex-direction: column;
		max-width: 201px;
		@include media-breakpoint-up(sm) {
			max-width: 50%;
		}
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			flex-wrap: wrap;
			max-width: none;
		}
	}
	.sApp__btn {
		width: 100%;
		margin-right: 0;
		padding-left: 5px;
		padding-right: 5px;
		&:not(:last-child) {
			margin-bottom: 8px;
			@include media-breakpoint-down(lg) {
				margin-right: 5px;
			}
		}
		span {
			display: none;
			@include media-breakpoint-up(sm) {
				display: inline;
			}
		}
		.icon {
			margin-right: 5px;
		}
	}
	.sApp__btn:not(:last-child) {
		margin-right: 0;
	}
	.sApp__title {
		margin-bottom: 24px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout