// start .sAbout
.sAbout {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem(24)};
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		margin-bottom: rem(24);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(40);
		}
	}
	&__logo-row {
		align-items: center;
	}
	&__container {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: rem(16);
		margin-bottom: 24px;
		border-radius: 12px;
		background: $white;
		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			padding: rem(40);
		}
	}
	h1 {
		margin-bottom: rem(24);
		text-align: center;
		font-size: 40px;
		@include media-breakpoint-up(lg) {
			// margin-bottom: 0;
			text-align: left;
		}
	}
	&__text {
		// max-width: 278px;
		// @include media-breakpoint-up(lg) {
		// 	max-width: 278px;
		// }
		p {
			margin-bottom: 24px;
			font-size: 14px;
			line-height: 140%;
		}
	}
	
	.section-title{
		flex-grow: 1;
		margin-bottom: 0;
		@include media-breakpoint-up(lg) {
			margin-right: 24px;
		}
	}
	&__img-wrap {
		margin-bottom: 20px;
		text-align: center;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			text-align: left;
		}
		img {
			max-width: 386px;
			max-width: 100%;
		}
		
	}
	.slider-wrapper {
		height: 100%;
	}
	&__slider {
		height: 100%;
	}
	&__video-wrap {
		position: relative;
		@include block(601,953);
		border-radius: 12px;
		overflow: hidden;
		height: 100%;
		max-width: 100%;
		video, video[poster] {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 100%);
		}
	}
	&__video-title {
		position: absolute;
		top: 10px;
		left: 50px;
		color: $white;
		z-index: 10;
		@include media-breakpoint-up(sm) {
			bottom: 90px;
			top: auto;
		}
	}
	.slider-controls {
		position: absolute;
		bottom: 0px;
		left: 44px;
		z-index: 20;
		@include media-breakpoint-up(sm) {
			bottom: 32px;
		}
		.icon {
			stroke: $white;
		}
	}
	.swiper-pagination {
    display: flex;
    margin-right: 34px;
    align-items: center;
}
	&__col{

	}
	&__item{
		position: relative;
		display: block;
		padding: 27px 24px 24px;
		height: 100%;
		min-height: 144px;
		border-radius: 12px;
		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);
		overflow: hidden;
		&--well-being {
			background-color: $primary;
			.sAbout__item-title {
				position: relative;
				max-width: 404px;
				color: $white;
				z-index: 5;
			}
			.sAbout__item-img {
				background-image: url('../img/main-item-1.png');
				background-repeat: no-repeat;
				// background-position: bottom right;
			}
		}
		&--shield {
			background-color: $red;
			.sAbout__item-title {
				max-width: 243px;
				color: $white;
			}
			.sAbout__item-img {
				background-image: url('../img/main-item-2.png');
				background-repeat: no-repeat;
				// background-position: bottom right;
			}
		}
	}
	&__item-img {
		position: absolute;
		content: '';
		height: 100%;
		width: 50%;
		top: 0;
		right: 0;
		background-size: cover;
	}
	&__btn {
		width: 100%;
		@include media-breakpoint-up(sm) {
			width: auto;
		}
	}
	.sApp {
		height: 100%;
	}
	.sApp__container {
		display: flex;
		flex-direction: column;
		height: 100%;
		background-image: url('../img/emblem-bg.svg');
		background-position: 50% 50%;
		background-size: auto;
		@include media-breakpoint-up(lg) {
			background-position: 50% 200%;
		}
	}
	.sApp__text {
		padding: 24px;
		@include media-breakpoint-up(lg) {
			padding: 40px;
		}
	}
	.sApp__buttons  {
		flex-wrap: nowrap;
		@include media-breakpoint-up(lg) {
			flex-wrap: wrap;
		}
	}
	.sApp__btn {
		width: 100%;
		margin-right: 0;
		padding-left: 5px;
		padding-right: 5px;
		&:not(:last-child) {
			margin-bottom: 8px;
			@include media-breakpoint-down(lg) {
				margin-right: 5px;
			}
		}
		span {
			display: none;
			@include media-breakpoint-up(sm) {
				display: inline;
			}
		}
		.icon {
			margin-right: 5px;
		}
	}
	.sApp__btn:not(:last-child) {
		margin-right: 0;
	}
	.sApp__title {
		margin-bottom: 24px;
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAbout