mixin mediaBanner(title)
	+b.media-banner&attributes(attributes)
		+e.logo-row
			+e.logo(href="#")
				+img('img/logo-rpn.svg')
			+e.logo(href="#")
				+img('img/logo-sanitary.svg')
			+e.logo(href="#")
				+img('img/logo-kep.svg')
		+e.title= title
		+e.caption санитерный щит россии
		+img('img/app-man.svg').media-banner__bg-img

mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.container
				+e.logo-row.row
					.col-lg-6
						+e.img-wrap
							+img('img/main-logos.png')
							+e.link--rpn(href="https://www.rospotrebnadzor.ru/")
							+e.link--shield(href="https://www.rospotrebnadzor.ru/about/info/news_time/news_details.php?ELEMENT_ID=18907")
					.col-lg-6
						+b.section-title
							h1 КЭП - консультация эпидемиолога
						p Портал консультационно-экспертной поддержки ориентирован на&nbsp;информационное сопровождение обеспечения санитарно-эпидемиологического благополучия в&nbsp;организациях и&nbsp;предприятиях с&nbsp;учетом особенностей различных отраслей экономической деятельности
						+e.btn.btn.btn-primary Узнать больше
			+e.row.row
				.col-lg-8.col-xl-9
					.slider-wrapper.slider-wrapper--video
						+e.slider--js.swiper.sVideoSlider__slider--js
							.swiper-wrapper
								.swiper-slide
									+e.media-wrap
										+img('img/main-slide-1.png').sAbout__banner
										//- +e.video-title.h2 Промо-ролик
										//- +mediaBanner('Управляйте эпидемиологическими рисками на предприятии вместе с КЭП!').--red
								.swiper-slide
									+e.media-wrap
										+img('img/main-slide-1.png').sAbout__banner
										//- +e.video-title.h2 Промо-ролик
										//- +mediaBanner('КЭП — ваш надежный партнер в соблюдении санитарных правил!').--blue
										//- <video src="#" poster="img/video-main.jpg"></video>
								.swiper-slide
									+e.media-wrap--video
										//- +e.video-title.h2 Промо-ролик
										<video src="#" poster="img/video-main.jpg"></video> 
							.slider-controls
								.swiper-pagination
								.slider-buttons
									.swiper-button-prev
										+icon('slider-left')
									.swiper-button-next
										+icon('slider-right')
				.col-lg-4.col-xl-3
					+b.sApp
						+e.container
							+e.text
								+e.subtitle Мобильное приложение
								+e.title.H2 КЭП на Ваше мобильное устройство
								+e.buttons
									+e.btn.btn.btn-outline-info
										+icon('internet')
										| Веб версия
									+e.btn.btn.btn-outline-info
										+icon('android')
										| #[span Скачать ]&nbsp;для Android
									+img('img/app-img.png').sApp__img
				.col-lg-6
					+e.item--well-being(href='#')
						+e.item-title.h2 Что такое санитарно-эпидемиологическое благополучие?
						+e.item-img
				.col-lg-6
					+e.item--shield(href='#')
						+e.item-title.h2 Что такое Санитарный щит&nbsp;страны?
						+e.item-img
	// end sAbout