extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sApp/_sApp.pug
include ../blocks/sDisinsection/_sDisinsection.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sStages/_sStages.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Как открыть пекарню'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Как открыть пекарню', 'Нормативные документы', 'Пищевая промышленность','Как открыть пекарню')
		+headerBlock3
		+sStages2
		+sApp
	+parts('footer')
		+sForm()
      



