extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sEpidGuide/_sEpidGuide.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Эпидемиологический справочник'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
	+page-head('Эпидемиологический справочник','Пищевая промыленность')
	+sEpidGuide()
	+parts('footer')
		+sForm()
      



