extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sEpidGuide/_sEpidGuide.pug
include ../blocks/sCatalog/_sCatalog.pug
//- include ../blocks/sMedicine/_sMedicine.pug
include ../blocks/sStages/_sStages.pug
include ../blocks/sThreats/_sThreats.pug
include ../blocks/sApp/_sApp.pug
include ../blocks/sBreach/_sBreach.pug
include ../blocks/sVideoSlider/_sVideoSlider.pug
include ../blocks/sApp/_sApp.pug
include ../blocks/sVisuals/_sVisuals.pug
include ../blocks/sTargetedLinks/_sTargetedLinks.pug
include ../blocks/sRpn/_sRpn.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Медицина'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		//- +page-head('Медицина','Пищевая промыленность')
		.container
			+breadcrumb('Главная', 'Пищевая промышленность', 'Нормативные документы')
	+sCatalog.sCatalog--medicine
	.container
		h1 Медицина
	+headerBlock4('Медицинская деятельность&nbsp;&mdash; профессиональная деятельность по&nbsp;оказанию медицинской помощи, проведению медицинских экспертиз, медицинских осмотров и&nbsp;медицинских освидетельствований, санитарно-противоэпидемических (профилактических) мероприятий и&nbsp;профессиональная деятельность, связанная с&nbsp;трансплантацией (пересадкой) органов&nbsp;и (или) тканей, обращением донорской крови&nbsp;и (или) ее&nbsp;компонентов в&nbsp;медицинских целях.')
		p Это важная отрасль, которая оказывает огромное влияние на&nbsp;качество и&nbsp;продолжительность жизни человека. Медицинская помощь необходима всем без исключения: от&nbsp;новорожденных до&nbsp;пожилых людей. 
		p Большинство организаций, осуществляющую свою деятельность в&nbsp;области здравоохранения отнесены к&nbsp;категориям чрезвычайно высокого и&nbsp;высокого риска. (Объекты чрезвычайно высокого и&nbsp;высокого риска).
	//- +sMedicine
	+sContent
		.container
			+e.subtitle К&nbsp;организациям, осуществляющим свою деятельность в&nbsp;области здравоохранения, относятся
			+e.list.UL
				+e.item.LI организации по&nbsp;оказанию амбулаторно-поликлинической медицинской помощи;
				+e.item.LI организации по&nbsp;оказанию стоматологических услуг;
				+e.item.LI организации по&nbsp;оказанию стационарной медицинской помощи;
				+e.item.LI акушерские стационары в&nbsp;многопрофильных медицинских организациях, перинатальные центры;
				+e.item.LI санаторно-курортные учреждения (оказывающие медицинскую помощь) и&nbsp;др.
	+sStagesMedicine.sStages--medicine
	+sThreats
	+sStagesThreats.sStages--risk
	+sApp.sApp--medicine
	+sEpidGuide('Эпидемиологический справочник')
	+sBreach
	+sVideoSlider
	+sAppLearning
	+sVisuals('Нормативно-методическая документация для этого вида деятельности')
		+visualItem('Федеральный закон от 30.03.1999 N 52-ФЗ «О санитарно-эпидемиологическом благополучии населения»')
		+visualItem('Закон Российской Федерации от 07.02.1992 № 2300-1 «О защите прав потребителей»')
		+visualItem('Федеральный закон от 31.07.2020 № 248-ФЗ «О государственном контроле (надзоре) и муниципальном контроле в Российской Федерации»')
		+visualItem('Постановление Правительства Российской Федерации от 01.06.2021 г. № 852 «О лицензировании медицинской деятельности»')
		+visualItem('Федеральный закон от 21.11.2011 №323-ФЗ  «Об основах охраны  здоровья граждан в Российской Федерации»')
		+visualItem('Постановление Правительства РФ от 04.07.2012 №681 «Об утверждении критериев разделения медицинских отходов на классы по степени их эпидемиологической токсикологической, радиационной опасности, а также негативного воздействия на среду обитания»')
		+visualItem('СП 2.1.3678-20 – «Санитарно-эпидемиологические требования к эксплуатации помещений, зданий, сооружений, оборудования и транспорта, а также условиям деятельности хозяйствующих субъектов, осуществляющих продажу товаров, выполнение работ или оказание услуг»')
		+visualItem('СП 2.2.3670-20 – «Санитарно-эпидемиологические требования к условиям труда»')
		+visualItem('СанПиН 1.2.3685-21 – «Гигиенические нормативы и требования к обеспечению безопасности и (или) безвредности для человека факторов среды обитания»')
		+visualItem('СанПиН 2.1.3684-21 – «Санитарно-эпидемиологические требования к содержанию территорий городских и сельских поселений, к водным объектам, питьевой воде и питьевому водоснабжению, атмосферному воздуху, почвам, жилым помещениям, эксплуатации производственных, общественных помещений, организации и проведению санитарно-противоэпидемических (профилактических) мероприятий»')
		+visualItem('СанПиН 3.3686-21 – «Санитарно-эпидемиологические требования по профилактике инфекционных болезней»')
		+visualItem('СанПиН 2.6.1.1192-03 «Гигиенические требования к устройству и эксплуатации рентгеновских кабинетов, аппаратов и проведению рентгенологических исследований»')
		+visualItem('МУ 2.6.1.2944-11 «Контроль эффективных доз облучения пациентов при проведении медицинских рентгенологических исследований»')
	+sTargetedLinks('Дополнительные материалы').sTargetedLinks--medicine
		+targetItem('6', 'Как открыть медицинскую организацию')
		+targetItem('9', 'Получение санитарно-эпидемиологического заключения на осуществление медицинской деятельности')
		+targetItem('10', 'Какие виды деятельности подлежат лицнезированию')
		+targetItem('2', 'Бактерицидные облучатели')
		+targetItem('5', 'Профилактические прививки работников эпидемиологически-значимых профессий')
		+targetItem('4', 'Рекомендации по профилактике Covid-19')
	+sRpn.sRpn--medicine
	+parts('footer')
		+sForm()
      



