extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sMission/_sMission.pug
 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Миссия портала'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Миссия портала', 'Миссия портала')
		+headerBlock3('Добро пожаловать на&nbsp;портал &laquo;КЭП&nbsp;&mdash; консультация эпидемиолога&raquo;&mdash;&nbsp;ваш надежный партнер в&nbsp;области соблюдения санитарно-эпидемиологических норм и&nbsp;правил для вашего бизнеса.','mission-header')
			p Портал &laquo;КЭП&nbsp;&mdash; консультация эпидемиолога&raquo; является проектом Роспотребнадзора. Он&nbsp;создан с&nbsp;учетом потребностей предпринимателей с&nbsp;одной стороны и&nbsp;актуальных направлений работы Федеральной службы по&nbsp;надзору в&nbsp;сфере защиты прав потребителей и&nbsp;благополучия человека.
		+sMission
	+parts('footer')
		+sForm()
      



