extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sRpn/_sRpn.pug
 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Для СМИ'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Для СМИ', 'Для СМИ')
		+headerBlock4('Добро пожаловать на&nbsp;портал &laquo;КЭП&nbsp;&mdash; консультация эпидемиолога&raquo;! Мы&nbsp;помогаем предпринимателям соблюдать санитарные нормы с&nbsp;помощью актуальных документов, справочников и&nbsp;обучающих материалов.','logos')
			p Получайте всю необходимую информацию в&nbsp;любое удобное время через веб-портал или мобильное приложение.
		+sContact
	+parts('footer')
		+sForm()
      



