extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sLearning/_sLearning.pug
 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Обучение PRO'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Обучение PRO', 'Обучение PRO')
		+sContent
			.container
				p На&nbsp;странице &laquo;Обучение&raquo; Вы&nbsp;найдете разнообразные образовательные материалы, предназначенные для более глубокого понимания санитарно-эпидемиологических норм и&nbsp;правил. Эти материалы помогут вам улучшить навыки и&nbsp;накопить знания, необходимые для обеспечения безопасности на&nbsp;вашем предприятии.
				p Независимо от&nbsp;того, являетесь&nbsp;ли вы&nbsp;владельцем ресторана, магазина или гостиницы, наши обучающие ресурсы помогут вам уверенно применять санитарные стандарты в&nbsp;практике и&nbsp;эффективно управлять рисками на&nbsp;вашем предприятии.
		+sLearning
	+parts('footer')
		+sForm()
      



