extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sVisuals/_sVisuals.pug
 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Нормативные документы'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Нормативные документы', 'Нормативные документы')
		+sContent
			.container
				p Предоставляем доступ к&nbsp;актуальным и&nbsp;важным документам в&nbsp;области санитарно-эпидемиологического благополучия. Регулярно обновляем этот раздел, чтобы обеспечиваем Вас последними изменениями и&nbsp;дополнениями к&nbsp;законодательству Российской Федерации. 
				p Наши усилия направлены на&nbsp;то, чтобы обеспечить предпринимателя всей необходимой информацией для успешного ведения бизнеса с&nbsp;соблюдением всех требований к&nbsp;безопасности и&nbsp;гигиеничности. Независимо от&nbsp;того, являетесь&nbsp;ли вы&nbsp;владельцем ресторана, магазина, гостиницы или предприятия другой отрасли, вы&nbsp;можете быть уверены: наш раздел &laquo;Нормативные документы&raquo; поможет вам быть в&nbsp;шаге от&nbsp;соблюдения всех необходимых норм и&nbsp;стандартов, обеспечивая таким образом безопасность вашему бизнесу и&nbsp;всем его участникам.
		+sVisuals.sVisuals--doc
	+parts('footer')
		+sForm()
      



