extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sStages/_sStages.pug
 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Вопрос-ответ'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Вопрос-ответ', 'Вопрос-ответ')
		+sContent
			.container
				p В&nbsp;данном разделе&nbsp;Вы найдете исчерпывающую информацию, связанную с&nbsp;обеспечением санитарно-эпидемиологической безопасности в&nbsp;бизнесе. Этот раздел представляет собой уникальный источник ответов на&nbsp;наиболее актуальные и&nbsp;часто встречаемые вопросы, возникающие у&nbsp;предпринимателей и&nbsp;организаций.
				p Раздел &laquo;Вопросы и&nbsp;ответы&raquo; на&nbsp;нашем портале не&nbsp;только отвечает на&nbsp;конкретные вопросы, но&nbsp;и&nbsp;помогает вам развивать свои знания в&nbsp;области санитарно-эпидемиологической безопасности, обеспечивая таким образом уверенность в&nbsp;том, что ваш бизнес функционирует в&nbsp;соответствии с&nbsp;высокими стандартами здоровья и&nbsp;безопасности.
		+sStagesMain('').sStages--main.sStages--faq
	+parts('footer')
		+sForm()
      



