extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
include ../blocks/sRpn/_sRpn.pug
 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Гигиеническое обучение и аттестация'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Гигиеническое обучение и&nbsp;аттестация', 'Гигиеническое обучение и аттестация').--sertification
		+headerBlock3('Гигиеническая аттестация&nbsp;&mdash; подтверждение уровня знаний и&nbsp;умений по&nbsp;профессиональному гигиеническому обучению.','header-sertification')
			p Гигиеническая подготовка и&nbsp;аттестация обязательны для должностных лиц и&nbsp;работников организаций, деятельность которых связана с&nbsp;производством, хранением, транспортировкой и&nbsp;реализацией пищевых продуктов и&nbsp;питьевой воды, воспитаниеми&nbsp;обучением детей, коммунальным и&nbsp;бытовым обслуживанием населения
		+sRpnContent
			+rpnContentItem('Гигиеническая подготовка проводится при приеме на&nbsp;работу и&nbsp;в&nbsp;дальнейшем:')
				.sRpnContent__descr
					ul
						li Для должностных лиц и&nbsp;работников организаций, деятельность которых связана с&nbsp;производством, хранением, транспортировкой и&nbsp;реализацией мясо-молочной и&nbsp;кремово-кондитерской продукции, детского питания, питания дошкольников ежегодно;
						li В&nbsp;других случаях&nbsp;&mdash; 1&nbsp;раз в&nbsp;2&nbsp;года.
					p Гигиеническую аттестацию проводят после прохождения медицинского осмотра в&nbsp;медицинской организации и&nbsp;гигиенического обучения в&nbsp; #[a(href="#") центре гигиены и&nbsp;эпидемиологии Роспотребнадзора] по&nbsp;месту жительства или месту нахождения работодателя.
					p Гигиеническое обучение проводится в&nbsp;очной или дистанционной формах.
					p Стоимость услуги определяет центрами гигиены и&nbsp;эпидемиологии Роспотребнадзора. Чтобы узнать текущую стоимость, обратитесь в&nbsp;#[a(href="#") указанный центр в&nbsp;своём регионе].
					p Сведения о&nbsp;прохождении гигиенической аттестации вносятся в&nbsp;личную медицинскую книжку.
			+rpnContentItem('Гигиеническую аттестацию проводят:')
				.sRpnContent__descr
					p После прохождения медицинского осмотра в медицинской организации и гигиенического обучения #[a(href="#") в центре гигиены и эпидемиологии Роспотребнадзора] по месту жительства или месту нахождения работодателя.
				+e.more(href="#") Подробнее
					+icon('arrow-right')
			+rpnContentItem('Гигиеническое обучение проводится в очной или дистанционной формах')
				.sRpnContent__descr
					p Стоимость услуги определяет центрами гигиены и эпидемиологии Роспотребнадзора. Чтобы узнать текущую стоимость, обратитесь в указанный центр в своём регионе.
					p Сведения о прохождении гигиенической аттестации вносятся в личную медицинскую книжку.
				+e.more(href="#") Подробнее
					+icon('arrow-right')
	+parts('footer')
		+sForm()
      



