extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sStages/_sStages.pug
include ../blocks/sTargetedLinks/_sTargetedLinks.pug
include ../blocks/sVisuals/_sVisuals.pug
include ../blocks/sRpn/_sRpn.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= 'Как открыть гостиницу не нарушая законодательство'
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head('Как открыть гостиницу не нарушая законодательство', 'Нормативные документы', 'Гостиницы')
		+headerBlock 
		+sStages
		+sTargetedLinks('Управление рисками в процессе осуществления деятельности')
		+sTargetedLinks('Безопасность и гигиена труда')
			+targetItem('7', 'Профилактика профессиональных заболеваний сотрудников офиса')
			+targetItem('8', 'Производственное освещение')
		+sVisuals
		+sRpn
	+parts('footer')
		+sForm()
      



