mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		+e.container.container
			+b.section-title
				h1 А. Попова открыла II международные учения мобильных лабораторий быстрого реагирования
				+e.subtitle 25 октября 2023
			+e.img-wrap--full
				+img('img/article-1.jpg')
			p 27&nbsp;сентября в&nbsp;Астрахани состоялась церемония открытия&nbsp;II международных учений быстрого реагирования на&nbsp;чрезвычайные ситуации санитарно-эпидемиологического характера с&nbsp;использованием мобильных лабораторий.
			p В&nbsp;ней приняли участие руководитель Роспотребнадзора Анна Попова и&nbsp;губернатор Астраханской области Игорь Бабушкин. Участникам учений Анна Попова зачитала обращение Президента РФ&nbsp;Владимира Путина.
			blockquote &laquo;Приветствую вас по&nbsp;случаю открытия международных учений команд быстрого реагирования на&nbsp;чрезвычайные санитарно-эпидемиологические ситуации, которые во&nbsp;второй раз пройдут на&nbsp;российской территории. Угроза опасных инфекционных заболеваний носит трансграничный характер, и&nbsp;противостояние&nbsp;ей, несомненно, обуславливает необходимость конструктивного международного сотрудничества по&nbsp;линии санитарно-эпидемиологических служб. Важнейшей задачей является регулярная обработка практических совместных действий по&nbsp;своевременному выявлению и&nbsp;ликвидации очагов инфекций, имеющих пандемический потенциал&raquo;,&nbsp;&mdash; говорится в&nbsp;обращении Президента.
			h2 С видеообращением к участникам выступила заместитель Председателя Правительства РФ Татьяна Голикова
			+e.img-wrap
				picture
					source(srcset="img/article-2-sm.jpg" media="(max-width: 576px)")
					img(src="img/article-2.jpg")
			blockquote &laquo;В&nbsp;результате работы с&nbsp;нашими зарубежными коллегами в&nbsp;рамках &bdquo;Санитарного щита&ldquo; создали 4&nbsp;центра изучения инфекционных болезней&nbsp;&mdash; в&nbsp;Гвинее, Вьетнаме, Венесуэле и&nbsp;Бурунди. Плодотворно работаем с&nbsp;нашими ближайшими соседям по&nbsp;Содружеству Независимых Государств, с&nbsp;которыми нас связывает единое эпидемиологическое пространство. В&nbsp;6&nbsp;странах СНГ, а&nbsp;также Монголии, Вьетнаме, Демократической Республике Конго сегодня работают мобильные лаборатории, разработанные Роспотребнадзором. До&nbsp;конца года такие лаборатории будут поставлены в&nbsp;Бурунди и&nbsp;Уганду. Это позволит своевременно выявлять и&nbsp;реагировать на&nbsp;инфекции практически в&nbsp;любой точке мира, не&nbsp;допустить их&nbsp;распространения и&nbsp;осложнения эпидемиологической ситуации&raquo;,&nbsp;&mdash; отметила вице-премьер РФ&nbsp;Татьяна Голикова.
			p В&nbsp;международных учениях примут участие почти 120 ведущих российских и&nbsp;зарубежных специалистов из&nbsp;19&nbsp;стран. Многие из&nbsp;участников учений имеют практический опыт по&nbsp;ликвидации вспышек инфекционных болезней в&nbsp;разных странах мира.
			p В&nbsp;течение четырех дней команды специалистов будут отрабатывать навыки практического взаимодействия специалистов мобильных лабораторий по&nbsp;совместному реагированию в&nbsp;случае вспышки инфекционного заболевания. Для команд разработаны специальные вводные по&nbsp;которым им&nbsp;предстоит отработать алгоритм действий при получении информации о&nbsp;регистрации инфекционных заболеваний.
			p &laquo;Осенью 2021 года в&nbsp;Казани мы&nbsp;провели первые широкомасштабные международные учения команд быстрого реагирования на&nbsp;биологические угрозы. Разработанные нами стандарты в&nbsp;настоящее время активно используются странами СНГ и&nbsp;эксплуатируются ВОЗ&raquo;,&nbsp;&mdash; отметила руководитель Службы Анна Попова.
			p Губернатор Астраханской области Игорь Бабушкин отметил, что международные учения станут отличной площадкой для наработки навыков ликвидации возможных&nbsp;ЧС с&nbsp;применением самого современного оборудования, а&nbsp;команды смогут приобрести бесценный опыт совместной работы
			p Директор Российского противочумного института &laquo;Микроб&raquo; Роспотребнадзора Владимир Кутырев указал, что мобильные формирования&nbsp;&mdash; ключевое звено системы реагировании на&nbsp;биологические угрозы в&nbsp;РФ и&nbsp;за&nbsp;рубежом.
			p В&nbsp;рамках учений Роспотребнадзор представит современный мобильный комплекс специализированной противоэпидемической бригады (МК&nbsp;СПЭБ), а&nbsp;также мобильные лаборатории различного формата: мобильная лаборатория индикации и&nbsp;мониторинга особо опасных инфекций на&nbsp;базе автошасси (МЛИМ), переносная мобильная лаборатория на&nbsp;базе пневмокаркасного модуля (ПМЛ), мобильная лаборатория мониторинга и&nbsp;диагностики на&nbsp;базе автошасси (МЛМД). В&nbsp;учениях примет участие и&nbsp;мобильная лаборатория Республики Казахстан.
			p Кроме того, будет рассмотрен опыт разных стран в&nbsp;организации противоэпидемических мероприятий в&nbsp;зонах&nbsp;ЧС санитарно-эпидемиологического характера, принципы формирования и&nbsp;организация работы команд быстрого реагирования, а&nbsp;также использование мобильных лабораторий.
			p Также пройдет пленарное заседание и&nbsp;ряд выступлений в&nbsp;ходе деловой программы.
	// end sContent