// start .sPartners
.sPartners {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		 --bs-gutter-x: 8px;
		 --bs-gutter-y: 8px;
	}
	.section-title {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		@include media-breakpoint-up(md) {
			align-items: normal;
		}
		h2 {
			color: $gray-600;
			margin-right: 16px;
		}
	}
	.swiper-wrapper {
		@include media-breakpoint-up(lg) {
			// justify-content: space-between;
		}
	}
	.swiper-slide{
		width: 314px;
		@include media-breakpoint-up(lg){
			margin-bottom: 8px;
			
			width: var(--size, 24%);
			
			&:nth-child(9n + 2),
			&:nth-child(9n + 4){
				--size: 14%;
			}
			// &:nth-child(9n + 10),
			&:nth-child(9n + 5){
				--size: calc( (251/ 1280 * 100%)) ;
			}
			// &:nth-child(9n + 13){
			// 	--size: calc(314 / 1280) * 100%;
			// } 
			// &:nth-child(9n + 14){
			// 	--size: calc( (184 / 1280 * 100%));
			// }
			&:nth-child(9n + 5),
			&:nth-child(9n + 9) {
				margin-right: 0 !important;
			}
		}

	}
	&__item{ 
		height: 100%; 
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70px;
		border-radius: 20px;
		background: $white;  
		// aspect-ratio:  314 / 138;
		height: 138px;
		width: 100%;
			img {
				max-width: 98%;
				max-height: 98%; 
			}
		}
		
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartners