mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 Партнеры
				+e.btn.btn.btn-primary Перейти в раздел
			+e.row.row
				- for (var x = 0; x < 3; x++)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-1.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-2.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-3.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-2.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-4.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-1.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-4.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-3.png`)
					+e.col.col-12
						+e.item(href="#")
							+img(`img/partner-3.png`)
	// end sPartners