// start .sPartners
.sPartners {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
		gap: 8px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 70px;
		@include media-breakpoint-up(sm) {
		}
		@include media-breakpoint-up(md) {
			grid-auto-rows: 100px;
			grid-template-columns: repeat(8, 1fr);
		}
		@include media-breakpoint-up(lg) {
			grid-auto-rows: 138px;			
		}
	}
	.section-title {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		@include media-breakpoint-up(md) {
			align-items: normal;
		}
		h2 {
			color: $gray-600;
			margin-right: 16px;
		}
	}
	&__col{

	}
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 20px;
		background: $white;
		&--lg {
			grid-column: 2 span;
		}
		&--sm{
			grid-column: 2 span;
			@include media-breakpoint-up(lg) {
					grid-column: 1 span;
				}
			}
			img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
			}
		}
		
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sPartners