mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 Партнеры
				+e.btn.btn.btn-primary Перейти в раздел
			+e.row
				+e.item--lg(href="#")
					+img(`img/partner-1.png`)
				+e.item--sm(href="#")
					+img(`img/partner-2.png`)
				+e.item--lg(href="#")
					+img(`img/partner-3.png`)
				+e.item--sm(href="#")
					+img(`img/partner-2.png`)
				+e.item--auto(href="#")
					+img(`img/partner-4.png`)
				+e.item--lg(href="#")
					+img(`img/partner-1.png`)
				+e.item--lg(href="#")
					+img(`img/partner-4.png`)
				+e.item--lg(href="#")
					+img(`img/partner-3.png`)
				+e.item--lg(href="#")
					+img(`img/partner-3.png`)
	// end sPartners