mixin sDisinsection(data)
	// start sDisinsection
	+b.SECTION.sDisinsection.section#sDisinsection&attributes(attributes)
		.container
			+e.wrap
				+e.text
					+e.article
						h3 Дезинсекция должна проводиться на объектах, имеющих особое эпидемиологическое значение, а именно:
						ul
							li организации пищевой промышленности, общественного питания и организации, осуществляющие хранение и реализацию пищевой продукции;
							li здания, предназначенные для постоянного или временного пребывания людей;
							li гостиницы, общежития;
							li медицинские организации;
							li санаторно-курортные организации, дома отдыха, пансионаты;
							li организации, реализующие образовательные программы дошкольного, начального, общего, основного общего и среднего общего образования, организации дополнительного образования для детей и организации для детей-сирот и детей, оставшихся без попечения родителей (далее - образовательные организации для детей), организации отдыха детей и их оздоровления;
							li организации водоснабжения и канализации;
							li объекты коммунально-бытового назначения;
							li объекты и территории организаций, занимающихся утилизацией твердых коммунальных отходов, кладбища, очистные сооружения;
							li объекты и территории организаций, занимающихся внешним благоустройством: санитарной очисткой, уборкой и озеленением населенных пунктов;
							li рекреационные объекты и территории (пляжи, места массового отдыха, туризма, рыбалки, охоты и другие);
							li садоводческие, огороднические и дачные объединения граждан;
							li таможенные терминалы;
							li объекты транспортной инфраструктуры;
							li пункты пропуска через государственную границу РФ;
							li железнодорожные вокзалы, морские (речные, озерные) вокзалы и порты, автовокзалы, аэропорты;
							li суда морские, речные, смешанного (река-море) плавания;
							li воздушные суда;
							li подвижной состав железнодорожного транспорта (пассажирский, грузовой), а также транспортное оборудование (контейнеры),
							li подвижной состав метрополитена;
							li специализированный автотранспорт.
						p Дезинсекция включает в&nbsp;себя организационные, санитарно-технические, санитарно-гигиенические и&nbsp;истребительные мероприятия, направленные на&nbsp;уничтожение членистоногих, имеющих эпидемиологическое и&nbsp;санитарно-гигиеническое значение.
						p Предусмотрено, что в&nbsp;лесопарковой зоне, на&nbsp;территории участков природных очагов, на&nbsp;которых расположены медицинские организации, организации отдыха детей и&nbsp;их&nbsp;оздоровления, санатории, базы отдыха, а&nbsp;также на&nbsp;территории населенных пунктов дезинсекция, включая акарицидные и&nbsp;ларвицидные обработки, проводится в&nbsp;весенний, летний периоды, при необходимости&nbsp;&mdash; в&nbsp;осенний период.
						p Таким образом, исходя из&nbsp;мест обитания членистоногих, имеющих эпидемиологическое и&nbsp;санитарно-гигиеническое значение, дезинсекция может проводиться как на&nbsp;открытых территориях (городские и&nbsp;сельские поселения, природные территории), так и&nbsp;в&nbsp;зданиях, строениях, сооружениях, а&nbsp;также на&nbsp;транспорте.
						p Членистоногие, имеющие эпидемиологическое и&nbsp;санитарно-гигиеническое значение могут переносить возбудителей инфекционных болезней или своим присутствием либо результатами жизнедеятельности, негативно влиять на&nbsp;самочувствие человека или санитарное состояние помещений и&nbsp;территорий.
						+e.list-title Например:
						ul
							li клещи домашней пыли способны вызывать аллергические реакции;
							li чесоточный клещ своим паразитированием в кожных покровах человека причиняет ему беспокойство, вызывая сильный зуд;
							li иксодовые клещи, обитающие в природных ареалах, являются переносчиками клещевого вирусного энцефалита, клещевого боррелиоза и др.
							li Помимо клещей, этот перечень включает мокриц, пауков, тараканов, комаров, сверчков, блох, клопов, вшей, муравьев и т.д.
				.alarm-block
					+icon('alarm')
					p С 01.09.2021 действуют новые требования к организации и проведению дезинсекции, определенные в разделе III <a href="#">СанПиН 3.3686-21</a> «Санитарно-эпидемиологические требования по профилактике инфекционных болезней».
				+e.text
					+e.article
						h3 Дезинсекция должна проводиться на объектах, имеющих особое эпидемиологическое значение, а именно:
						p Дезинсекционные мероприятия на&nbsp;объектах, транспортных средствах, рекреационных территориях населенных пунктов проводятся персоналом организаций, в&nbsp;соответствии с&nbsp;учредительными документами которых одним из&nbsp;видов экономической деятельности является осуществление дезинсекционной деятельности.
						p Таким образом, до&nbsp;проведения дезинсекции допускаются только специально обученные лица, путем привлечения сторонних организаций на&nbsp;договорной основе.
					+e.article
						h3 Дезинсекционные мероприятия включают организацию и проведение:
						ul
							li определения видовой принадлежности членистоногих; учета численности, определения заселенности членистоногими объектов и&nbsp;территории;
							li истребительных мероприятий с&nbsp;использованием механических, химических и&nbsp;биологических методов;
							li контроля эффективности истребительных мероприятий своими силами или силами исполнителей дезинсекционных работ или сторонних организаций. При отсутствии эффективности проверяют качество препарата, а&nbsp;дезинсекционные обработки повторяют, используя инсектициды из&nbsp;других групп химических веществ.
					+e.article
						h3 Дезинсекционные мероприятия проводятся в следующем порядке:
						ol
							li информирование руководителями организаций, в&nbsp;которых проводится дезинсекция сотрудников, о&nbsp;дате, времени проведения и&nbsp;мерах предосторожности;
							li подготовка помещений к&nbsp;истребительным мероприятиям;
							li помещение пищевой продукции в&nbsp;герметично закрывающуюся тару или герметичное упаковывание иным способом (в&nbsp;случае попадания дезинсекционных средств на&nbsp;пищевую продукцию эта продукция подлежит уничтожению);
							li закрытие форточек и&nbsp;окон;
							li раскладывание дезинсекционных приманок для синантропных членистоногих в&nbsp;местах, недоступных для людей и&nbsp;домашних животных (для раскладки приманок не&nbsp;допускается использовать пищевую посуду);
							li применение иных дезинсекционных средств в&nbsp;соответствии с&nbsp;инструкцией по&nbsp;применению;
							li проветривание помещения;
							li проведение влажной уборки с&nbsp;применением моющих средств.
					+e.article
						h3 Также установлены требования к осуществлению дезинфекционной деятельности (в том числе по дезинсекции) на отдельных объектах.
						p Помимо мероприятий по&nbsp;уничтожению членистоногих, на&nbsp;каждом предприятии (организации) должны быть созданы условия, препятствующие их&nbsp;проникновению и&nbsp;размножению, например герметизация швов, щелей; надлежащая организация сбора и&nbsp;вывоза мусора; своевременная уборка помещений, очистка мусоропроводов, соблюдение требований к&nbsp;хранению пищевых продуктов и&nbsp;т.д.
						p За&nbsp;несоблюдение требований санитарных правил, в&nbsp;том числе в&nbsp;части организации и&nbsp;проведения дезинсекционных мероприятий, а&nbsp;также нарушение санитарно-эпидемиологических требований к&nbsp;эксплуатации зданий, сооружений и&nbsp;транспорта для юридических, должностных лиц или индивидуальных предпринимателей статьями 6.3 и&nbsp;6.4 Кодекса Российской Федерации об&nbsp;административных правонарушениях предусмотрено наказание в&nbsp;виде предупреждения, административного штрафа или приостановления деятельности на&nbsp;срок до&nbsp;девяноста суток.
				.alarm-block
					+icon('alarm')
					p Цель дезинсекции&nbsp;&mdash; обеспечение безопасных и&nbsp;комфортных в&nbsp;эпидемиологическом и&nbsp;гигиеническом плане условий пребывания человека.
			+e.row.row
	// end sDisinsection