// start .sCatalog
.sCatalog {
	--sPT: #{rem(5)};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{
		display: flex;
		align-items: center;
		padding: rem(16);
		height: 100%	;
		border-radius: 12px;
		background: $white;
		box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.07);
		@include media-breakpoint-up(lg) {
			padding: rem(24);
		}
		&:hover {
			background-color: #BE1722;
			[fill="#0A0A0A"],
			[fill="black"],
			[stroke="black"] {
				fill: $white;
			}
			.sCatalog__title {
				color: $white;
			}
		}
	}
	&__img-wrap {
		flex-shrink: 0;
		margin-right: 20px;
		width: 32px;
		height: 32px;
		.img{
			max-width: 100%;
			@include mt;
		}
	}
	&__title {
		font-family: $header-font;
		font-weight: 700;
		line-height: 100%;
		color: $body-color;
		@include mt;
	}
	&__slide{
		height: auto;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCatalog



// .product-item{
// 	display: flex;
// 	flex-direction: column;
// 	min-height: 100%;
// 	background: #FFFFFF; 
// 	border: 1px solid #E2E2E2;
// 	border-radius: 15px;
// 	overflow: hidden;
// 	position: relative;
// 	&__img-wrap{
// 		@include block(298, 190);
// 	}
// 	&__caption{
// 		flex-grow: 1;
// 		display: flex;
// 		flex-direction: column;
// 		padding: rem(20);
// 	}
// }