mixin catalog-item(i, t)
	+e.item(href="#")
		+e.img-wrap
			+img(`img/${i}.svg`).img-svg-js
		+e.title!= t
	// /.catalog-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.row.row
				- const wrapClass="col-12 col-sm-6 col-lg-3"
				+e.col(class= wrapClass)
					+catalog-item(`medicine`,`Медицина`) 
				+e.col(class= wrapClass)
					+catalog-item(`social`,`Социальные организации`) 
				+e.col(class= wrapClass)
					+catalog-item(`utilities`,`Коммунальные услуги`) 
				+e.col(class= wrapClass)
					+catalog-item(`person`,`Персональные услуги`) 
				+e.col(class= wrapClass)
					+catalog-item(`hotels`,`Гостиницы и туризм`) 
				+e.col(class= wrapClass)
					+catalog-item(`park`,`Культура, досуг и отдых`) 
				+e.col(class= wrapClass)
					+catalog-item(`hand`,`Детские и молодежные организации`) 
				+e.col(class= wrapClass)
					+catalog-item(`manufacturing`,`Пищевое производство`) 
				+e.col(class= wrapClass)
					+catalog-item(`dish`,`Общественное питание`) 
				+e.col(class= wrapClass)
					+catalog-item(`ice-cream`,`Торговля`) 
				+e.col(class= wrapClass)
					+catalog-item(`industry`,`Промышленность и сельское хозяйство`) 
				+e.col(class= wrapClass)
					+catalog-item(`bus`,`Транспорт`) 

	// end sCatalog