mixin catalog-item(i, t)
	+e.item(href="#")
		+e.img-wrap
			+img(`img/${i}.svg`).img-svg-js
		+e.title!= t
	// /.catalog-item

mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.swiper.swiper.sm-swiper-js
				+e.wrapper.swiper-wrapper
					+e.slide.swiper-slide
						+catalog-item(`medicine`,`Медицина`) 
					+e.slide.swiper-slide
						+catalog-item(`social`,`Социальные организации`) 
					+e.slide.swiper-slide
						+catalog-item(`utilities`,`Коммунальные услуги`) 
					+e.slide.swiper-slide
						+catalog-item(`person`,`Персональные услуги`) 
					+e.slide.swiper-slide
						+catalog-item(`hotels`,`Гостиницы и туризм`) 
					+e.slide.swiper-slide
						+catalog-item(`park`,`Культура, досуг и отдых`) 
					+e.slide.swiper-slide
						+catalog-item(`hand`,`Детские и молодежные организации`) 
					+e.slide.swiper-slide
						+catalog-item(`manufacturing`,`Пищевое производство`) 
					+e.slide.swiper-slide
						+catalog-item(`dish`,`Общественное питание`) 
					+e.slide.swiper-slide
						+catalog-item(`ice-cream`,`Торговля`) 
					+e.slide.swiper-slide
						+catalog-item(`industry`,`Промышленность и сельское хозяйство`) 
					+e.slide.swiper-slide
						+catalog-item(`bus`,`Транспорт`) 

mixin sCatalogMenu
	+b.sCatalog--menu.section&attributes(attributes)
		p Для кого актуально:
		+e.list.UL
			+catalog-item(`social`,`Социальные организации`)
			+catalog-item(`utilities`,`Коммунальные услуги`)
			+catalog-item(`person`,`Персональные услуги`)
			+catalog-item(`hotels`,`Гостиницы и туризм`)


	// end sCatalog