mixin sMedicine(data)
	// start sMedicine
	+b.SECTION.sMedicine.section#sMedicine&attributes(attributes)
		.container
			+e.row.row
				.col-lg-7.col-xl-6
					p Медицинская деятельность&nbsp;&mdash; профессиональная деятельность по&nbsp;оказанию медицинской помощи, проведению медицинских экспертиз, медицинских осмотров и&nbsp;медицинских освидетельствований, санитарно-противоэпидемических (профилактических) мероприятий и&nbsp;профессиональная деятельность, связанная с&nbsp;трансплантацией (пересадкой) органов&nbsp;и (или) тканей, обращением донорской крови&nbsp;и (или) ее&nbsp;компонентов в&nbsp;медицинских целях.
					p Это важная отрасль, которая оказывает огромное влияние на&nbsp;качество и&nbsp;продолжительность жизни человека. Медицинская помощь необходима всем без исключения: от&nbsp;новорожденных до&nbsp;пожилых людей. 
					p Большинство организаций, осуществляющую свою деятельность в&nbsp;области здравоохранения отнесены к&nbsp;категориям чрезвычайно высокого и&nbsp;высокого риска. (Объекты чрезвычайно высокого и&nbsp;высокого риска).
				.col-lg-5.col-xl-6
					+e.video-wrap
						video(poster="img/medicine-poster.jpg")
							source(src="#")
							p Ваш браузер не поддерживает HTML5 видео. Используйте #[span a(href="#") ссылку на видео] для доступа.
			+e.subtitle К&nbsp;организациям, осуществляющим свою деятельность в&nbsp;области здравоохранения, относятся
			+e.list.UL
				+e.item.LI организации по&nbsp;оказанию амбулаторно-поликлинической медицинской помощи;
				+e.item.LI организации по&nbsp;оказанию стоматологических услуг;
				+e.item.LI организации по&nbsp;оказанию стационарной медицинской помощи;
				+e.item.LI акушерские стационары в&nbsp;многопрофильных медицинских организациях, перинатальные центры;
				+e.item.LI санаторно-курортные учреждения (оказывающие медицинскую помощь) и&nbsp;др.

	// end sMedicine