mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container.container--wide
			+e.row.row
				.col
						+b.logo(href="/")
							img(src="img/logo.svg", alt="").res-i
				+e.search-col.col-auto.d-none.d-lg-block
						+search()
				.col-auto
						+btn('Отправить обращение').btn.btn-primary
	// end topLine