mixin sChoosingShoes(data)
	// start sChoosingShoes
	+b.SECTION.sChoosingShoes.section#sChoosingShoes&attributes(attributes)
		+e.container.container
			+e.left
				+e.text
					+e.article
						ul
							li Обувь, используемая в&nbsp;производстве пищевой продукции, должна быть полностью закрытой.
							li Обувь, используемая в&nbsp;общественном питании, может иметь открытую пяточную часть или перфорацию в&nbsp;геленочной и/или пяточной части.
							li Обувь с&nbsp;верхом из&nbsp;кожи или текстильных материалов, используемая в&nbsp;производстве пищевой продукции, должна быть изготовлена из&nbsp;гидрофобных (негигроскопичных) материалов в&nbsp;соответствии с&nbsp;требованиями. Резиновая или полимерная обувь всегда изготавливается из&nbsp;гидрофобных (негигроскопичных) материалов и&nbsp;не&nbsp;требует проверки данных свойств.
							li Обувь, используемая для прохода через санпропускники с&nbsp;дезинфекцией подошв или дезинфекционные ванны, должна быть устойчива к&nbsp;воздействию растворов кислот и&nbsp;щелочей концентрации&nbsp;20% или выше.
							li Обувь может иметь форму полуботинок, ботинок, полусапог, сапог (в&nbsp;том числе с&nbsp;высоким голенищем), в&nbsp;зависимости от&nbsp;рабочего места и&nbsp;санитарно-гигиенических требований.
							li Обувь должна легко чиститься, при необходимости дезинфицироваться.
							li Необходимо обеспечить санитарно-гигиеническую чистку, при необходимости дезинфекцию, сушку и&nbsp;хранение обуви
						h3 О чем следует помнить, при выборе обуви:
						ol
							li Обувь должна выдаваться в&nbsp;соответствии с&nbsp;утвержденными нормами выдачи СИЗ на&nbsp;предприятии и&nbsp;использоваться только для работы на&nbsp;производстве, не&nbsp;должна использоваться на&nbsp;улице или дома.
							li Ее&nbsp;необходимо регулярно чистить и&nbsp;дезинфицировать для предотвращения рисков микробиологического загрязнения продуктов питания.
							li Сотрудники должны регулярно менять носки, чистить и&nbsp;просушивать обувь, чтобы избежать накопления грязи и&nbsp;мусора, в&nbsp;том числе внутри обуви.
							li Конструкция обуви должна исключать риски физического и&nbsp;химического загрязнения&nbsp;&mdash; не&nbsp;выделять вредных веществ, не&nbsp;иметь конструктивных элементов, которые могут оторваться и&nbsp;попасть в&nbsp;продукты.
							li Обувь должна подбираться для каждого участка производства, исходя из&nbsp;выполняемых операций, имеющихся загрязнений на&nbsp;участке, температурных и&nbsp;влажностных параметров помещений.
						p Давайте теперь рассмотрим требования к обуви для разных типов производств.
					+e.article
						h3 Предприятия мясной промышленности
						p На&nbsp;мясоперерабатывающем предприятии условия могут очень сильно различаться в&nbsp;зависимости от&nbsp;участков. В&nbsp;помещениях, где идёт обвалка туш, температура достаточно низкая, влажность повышена, на&nbsp;полу могут быть частицы продуктов, которые неизбежно попадают при работе, делая пол достаточно скользким. Особенно это касается жировых продуктов.Также, сырое мясо является источником микробиологических рисков.
						+e.list-title Поэтому для таких участков необходимо обеспечить:
						ul
							li защиту сотрудника от&nbsp;воздействия влаги и&nbsp;моющих средств;
							li комфортную работу при низких температурах;
							li стойкость обуви к&nbsp;воздействию жиров, накоплению микроорганизмов;
							li устойчивость на&nbsp;мокром и&nbsp;скользком полу;
							li легкость обработки обуви после работы;
							li защиту от&nbsp;попадания частиц продукта, воды, моющих средств внутрь обуви;
							li защиту от&nbsp;механических повреждений.
						p Примером такой обуви могут послужить сапоги из&nbsp;ПВХ. Они полностью отвечают вышеуказанным требованиям и&nbsp;отвечают такому важному требованию безопасности, как защита от&nbsp;ударов благодаря внутренним защитным носкам из&nbsp;металла и&nbsp;промежуточному слою из&nbsp;вспененного поливинилхлорида, который обладает амортизирующими свойствами и&nbsp;гасит ударные нагрузки.
						p На&nbsp;участках филирования, обработки, фасовки требования будут несколько мягче, так как там уже меньше влаги на&nbsp;полу, операции менее &laquo;грязные&raquo;, но&nbsp;принцип подбора обуви остается неизменным.
					+e.article
						h3 Предприятия молочной промышленности
						p При переработке молока подход к&nbsp;выбору обуви аналогичный. В&nbsp;цехе&nbsp;&mdash; низкие температуры, влажность, мокрые и&nbsp;скользкие полы, воздействие химических веществ от&nbsp;моющих и&nbsp;дезинфицирующих растворов. Для таких производств важно исключить риски перекрестного загрязнения при перемещении между участками. Температурные режимы могут быть аналогичными мясным предприятиям. Риски&nbsp;же повреждения ног вследствие ударов, падения тяжёлых предметов значительно меньше.
						+e.list-title Поэтому сотрудника мы должны защитить от:
						ul
							li воздействия влаги и&nbsp;моющих средств;
							li низких температур;
							li обеспечить стойкость обуви к&nbsp;воздействию жиров, накоплению микроорганизмов;
							li обеспечить устойчивость на&nbsp;мокром и&nbsp;скользком полу;
							li легкость обработки обуви после работы.
						p Подойдет обувь из&nbsp;полиуретана с&nbsp;антибактериальным эффектом. Он&nbsp;может достигаться благодаря добавлению специальной биоцидной добавки в&nbsp;полиуретановой системе. Кроме того, сапоги из&nbsp;полиуретана имеют микропористую структуру из&nbsp;полимерных ячеек, наполненных воздухом, что обеспечивает теплоизоляцию Тн20.
					+e.article
						h3 Кондитерские, пекарни, хлебозаводы
						p В цехах достаточно высокие (горячие цеха) температуры. Из-за работы с сыпучими продуктами (например, мука) мойка с большим количеством воды не используется. С точки зрения микробиологии здесь тоже всё несколько проще.
						+e.list-title Критерии защиты:
						ul
							li обувь должна быть легкой;
							li обувь должна быть воздухопроницаемой, чтобы исключить накопление влаги внутри обуви;
							li легко обрабатываться, просушиваться
						p Примером обуви, обладающей набором таких свойств, являются полуботинки с&nbsp;перфорацией и&nbsp;полуботинки на&nbsp;резинках. Наличие противоскользящей подошвы в&nbsp;моделях&nbsp;&mdash; дополнительный плюс, ведь на&nbsp;таком предприятии часто полы облицовываются керамической плиткой, и&nbsp;необходимо избегать скольжения.
					+e.article
						h3 Цех упаковки продукции
						p На любом пищевом производстве есть цех упаковки продукции, где не требуется защита от агрессивной химии, щелочей и кислот, где нет повышенной влажности. Однако даже в таких «идеальных» для пищевого предприятия условиях необходима специализированная обувь. Эксперты рекомендуют для таких условий легкие и комфортные модели с противоскользящей подошвой, хорошей вентиляцией и надежной защитой, спортивного или полуспортивного дизайна, с внутренними защитными носками из металла.
					+e.article
						+e.banner
							+e.banner-text
								+e.banner-head.h3 Обычная обувь, которую мы&nbsp;привыкли носить дома или на&nbsp;улице не&nbsp;подойдёт. В&nbsp;каждом случае выбора обуви необходимо учитывать условия работы и&nbsp;требования цеха, где она будет использоваться.
								+e.banner-descr.P Правильный выбор обуви на предприятии пищевой промышленности имеет большое значение для соблюдения требований гигиены и безопасности.
							+img('img/shoes-banner.png')
			+e.right
				+b.section-title
					h2.h3 Документы и нормативные акты, которые содержат информацию о требованиях к обуви на производстве пищевой промышленности:
				.alarm-block
					+icon('alarm')
					p <a href="#">ТР ТС 019/2011</a>  «О безопасности средств индивидуальной защиты»;
				.alarm-block
					+icon('alarm')
					p <a href="#">ГОСТ Р 70231-2022</a> Национальный стандарт Российской Федерации. Гигиена пищевой продукции. «Одежда для работников производства пищевой продукции и общественного питания. Требования, основанные на принципах ХАССП», вступает в действие с 01.09.2023.
	// end sChoosingShoes