mixin sStages(data)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.container
			+b.section-title
				h2 Этапы открытия деятельности 
				
			+e.row.row
	// end sStages