mixin sStages(data)
	// start sStages
	+b.SECTION.sStages.section#sStages&attributes(attributes)
		.container
			+b.section-title
				h2 Этапы открытия деятельности 
			+ddGroup
				+ddGroupItem('Зарегистрировать юридическое лицо или ИП','','dd-group__head--rome')
				+ddGroupItem('Подать уведомление о начале осуществления предпринимательской деятельности','','dd-group__head--rome')
					+b.icon-row.row
						.col-sm-6.col-lg-3
							+e.img-wrap
								+img('img/emblem-c.svg')
							+e.text непосредственно в&nbsp;уполномоченный орган Роспотребнадзора
						.col-sm-6.col-lg-3
							+e.img-wrap
								+icon('mail')
							+e.text Заказным почтовым отправлением с&nbsp;описью вложения с&nbsp;уведомлением о&nbsp;вручении либо в&nbsp;виде электронного документа, подписанного усиленной квалифицированной электронной подписью заявителя.
						.col-sm-6.col-lg-3
							+e.img-wrap
								+icon('city')
							+e.text В&nbsp;многофункциональный центр.
						.col-sm-6.col-lg-3
							+e.img-wrap
								+icon('emblem')
							+e.text Посредством Единого портала государственных и&nbsp;муниципальных услуг (функций) (ЕПГУ)
					.low-info Форму уведомления о&nbsp;начале осуществления предпринимательской деятельности можно найти в&nbsp;постановлении Правительства Российской Федерации от&nbsp;16.07.2009 <a href="#">&#8470;&nbsp;584</a> &laquo;Об&nbsp;уведомительном порядке начала осуществления отдельных видов предпринимательской деятельности&raquo;
					.alarm 
						.alarm__content Непредставление уведомления влечет наложение административного штрафа
				+ddGroupItem('Организовать необходимые условия для работы гостиницы в соответствии с законодательством Российской Федерации','','dd-group__head--rome')
				+ddGroupItem('Документы, которые необходимо иметь в гостинице','','dd-group__head--rome')
					+b.doc-list.OL
						li договоры аренды, или свидетельство на&nbsp;право собственности помещений;
						li документы, подтверждающие проведение дезинфекции, дезинсекции, дератизации (договор, акты выполненных работ или иные);
						li документы, подтверждающие проведение планово-регулярной очистки от&nbsp;твердых бытовых отходов (договор, акты выполненных работ или иные);
						li утвержденная программа производственного контроля;
						li личные медицинские книжки сотрудников, список сотрудников;
						li журнал учета получения, расхода дезинфицирующих средств и&nbsp;проведения дезинфекционных работ на&nbsp;объекте
						li документы (накладные, чеки) подтверждающие закупку дезинфицирующих средств в&nbsp;течении последних трех лет или с&nbsp;момента проведение последней проверки;
						li договор на&nbsp;утилизацию ртутьсодержащих отходов при их&nbsp;наличии (люминесцентные лампы, лампы солярия);
					+b.info-item
						+e.title Как узнать о&nbsp;предстоящей проверке?
						p На&nbsp;<a href="#">официальном сайте Федеральной службы по&nbsp;надзору в&nbsp;сфере защиты прав потребителей и&nbsp;благополучия человека</a> можно найти полную информацию о&nbsp;планируемых сроках проведения проверки
					+b.info-item
						+e.title Распространенные нарушения обязательных требований санитарных правил и&nbsp;норм субъектами предпринимательства
						+b.doc-list.UL
							li не&nbsp;соблюдение дезинфекционного режима
							li отсутствие личных медицинских книжек у&nbsp;персонала
							li отсутствие дезинфицирующих средств или применение средств бытовой химии вместо средств для дезинфекции и&nbsp;стерилизации, прошедших государственную регистрацию в&nbsp;установленном порядке.
							li отсутствие маркировки на&nbsp;уборочном инвентаре, емкостях с&nbsp;растворами дезинфицирующих средств;
							li отсутствие производственного контроля на&nbsp;объекте;
							li нарушение хранения люминесцентных ламп, бактерицидных ламп
					+b.info-item
						+e.title Распространенные нарушение обязательных требований в сфере защиты прав потребителей
						+b.doc-list.UL
							li отсутствие необходимой информации об&nbsp;оказании платных и&nbsp;бесплатных услуг для гостей гостиницы;
							li нарушение порядка бронирования
					+b.info-item
						+e.title Распространенные нарушения обязательных требований санитарных правил и&nbsp;норм субъектами предпринимательства:
						+b.alert-list.row
							mixin alert(text)
								.col-sm-6.col-md-4
									+img('img/alert.svg')
									+e.text= text
							+alert('не соблюдение дезинфекционного режима')
							+alert('отсутствие личных медицинских книжек у персонала')
							+alert('отсутствие производственного контроля на объекте')
							+alert('отсутствие дезинфицирующих средств или применение средств бытовой химии вместо средств для дезинфекции и стерилизации')
							+alert('отсутствие маркировки на уборочном инвентаре, емкостях с растворами дезинфицирующих средств')
							+alert('нарушение хранения люминесцентных ламп, бактерицидных ламп')
	// end sStages

mixin sStages2(data)
	// start sStages
	+b.SECTION.sStages--bakery.section#sStages&attributes(attributes)
		.container
			+b.section-title
				h2 Этапы открытия деятельности 
			+ddGroup
				+ddGroupItem('Зарегистрировать юридическое лицо или ИП','','dd-group__head--rome')
				+ddGroupItem('Подать уведомление о начале осуществления предпринимательской деятельности','','dd-group__head--rome')
					+b.icon-row.row
						.col-sm-6.col-lg-3
							+e.img-wrap
								+img('img/emblem-c.svg')
							+e.text непосредственно в&nbsp;уполномоченный орган Роспотребнадзора
						.col-sm-6.col-lg-3
							+e.img-wrap
								+icon('mail')
							+e.text Заказным почтовым отправлением с&nbsp;описью вложения с&nbsp;уведомлением о&nbsp;вручении либо в&nbsp;виде электронного документа, подписанного усиленной квалифицированной электронной подписью заявителя.
						.col-sm-6.col-lg-3
							+e.img-wrap
								+icon('city')
							+e.text В&nbsp;многофункциональный центр.
						.col-sm-6.col-lg-3
							+e.img-wrap
								+icon('emblem')
							+e.text Посредством Единого портала государственных и&nbsp;муниципальных услуг (функций) (ЕПГУ)
					.low-info Форму уведомления о&nbsp;начале осуществления предпринимательской деятельности можно найти в&nbsp;постановлении Правительства Российской Федерации от&nbsp;16.07.2009 <a href="#">&#8470;&nbsp;584</a> &laquo;Об&nbsp;уведомительном порядке начала осуществления отдельных видов предпринимательской деятельности&raquo;
					.alarm 
						.alarm__content Непредставление уведомления влечет наложение административного штрафа
				+ddGroupItem('Организовать необходимые условия для работы гостиницы в соответствии с законодательством Российской Федерации','','dd-group__head--rome')
					.alarm.alarm--single 
						.alarm__content Важно: При оборудовании пекарни необходимо руководствоваться требованиями <a href="#">ТР ТС 021/2011</a> «О БЕЗОПАСНОСТИ ПИЩЕВОЙ ПРОДУКЦИИ»
					.dd-group.dd-group--article.dd-group-js
						.dd-group__item
							.dd-group__head.dd-head-js 
								+e.head-article Статья 10
								p Обеспечение безопасности пищевой продукции в процессе ее производства (изготовления), хранения, перевозки  (транспортирования), реализации
								span
							.dd-group__content.dd-content-js
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.</p>
						.dd-group__item
							.dd-group__head.dd-head-js 
								+e.head-article Статья 11
								p Требования к обеспечению безопасности пищевой продукции в процессе ее производства (изготовления)
								span
							.dd-group__content.dd-content-js
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.</p>
						.dd-group__item
							.dd-group__head.dd-head-js 
								+e.head-article Статья 12
								p Требования к обеспечению водой процессов производства (изготовления) пищевой продукции
								span
							.dd-group__content.dd-content-js
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ducimus et fuga id, iure molestiae nam quaerat qui sequi similique.</p>
						.dd-group__item
							.dd-group__head.dd-head-js 
								+e.head-article Статья 13
								p Требования безопасности к продовольственному (пищевому) сырью, используемому при производстве пищевых продуктов
								span
							.dd-group__content.dd-content-js
								ol
									li Продовольственное (пищевое) сырье, используемое при производстве (изготовлении) пищевой продукции, должно соответствовать требованиям, установленным настоящим техническим регламентом&nbsp;и (или) техническими регламентами Таможенного союза на&nbsp;отдельные виды пищевой продукции, и&nbsp;быть прослеживаемым.
									li Продовольственное (пищевое) сырье растительного происхождения используется для производства (изготовления) пищевой продукции при наличии информации о&nbsp;применении пестицидов при выращивании соответствующих растений, фумигации производственных помещений и&nbsp;тары для хранения этого сырья в&nbsp;целях защиты его от&nbsp;вредителей и&nbsp;болезней сельскохозяйственных растений.
									li При получении непереработанного продовольственного (пищевого) сырья от&nbsp;продуктивных животных, которые подвергались воздействию ветеринарных лекарственных препаратов (натуральных и&nbsp;синтетических эстрогенных, гормональных веществ, тиреостатических препаратов (стимуляторов роста животных), антимикробных и&nbsp;других ветеринарных лекарственных препаратов), должны быть соблюдены сроки выведения таких препаратов из&nbsp;организма животных, установленные инструкциями по&nbsp;применению ветеринарных лекарственных препаратов (с&nbsp;учетом максимально длительного срока в&nbsp;случае их&nbsp;совместного применения).
									li Хранение продовольственного (пищевого) сырья и&nbsp;компонентов, используемых при производстве (изготовлении) пищевой продукции, должно осуществляться в&nbsp;условиях, обеспечивающих предотвращение порчи и&nbsp;защиту этого сырья и&nbsp;этих компонентов от&nbsp;загрязняющих веществ.
						.dd-group__item
							.dd-group__head.dd-head-js 
								+e.head-article Статья 14
								p Требования к организации производственных помещений, в которых осуществляется процесс производства (изготовления) пищевой продукции
								span
							.dd-group__content.dd-content-js
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptatem autem! Eum tenetur minima in, saepe soluta veritatis perspiciatis quidem, hic eveniet, autem numquam voluptatibus. Quod ea adipisci ab recusandae!
						.dd-group__item
							.dd-group__head.dd-head-js 
								+e.head-article Статья 15
								p Требования к использованию технологического оборудования и инвентаря в процессе производства (изготовления) пищевой продукции
								span
							.dd-group__content.dd-content-js
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, voluptatem autem! Eum tenetur minima in, saepe soluta veritatis perspiciatis quidem, hic eveniet, autem numquam voluptatibus. Quod ea adipisci ab recusandae!
				+ddGroupItem('Документы, которые необходимо иметь в гостинице','','dd-group__head--rome')
					+b.doc-list.OL
						li договоры аренды нежилых помещений, или свидетельство на&nbsp;право собственности помещений;
						li документы, подтверждающие проведение профилактической дезинфекции, дезинсекции, дератизации (договор, акты выполненных работ или иные);
						li документы, подтверждающие проведение планово-регулярной очистки от&nbsp;твердых бытовых отходов (договор, акты выполненных работ или иные);
						li документы, подтверждающие качество и&nbsp;безопасность выпускаемой продукции, используемой для изготовления продукции (сертификаты соответствия или декларация соответствия)
						li технологические журналы
						li график генеральной уборки помещений;
						li утвержденная программа производственного контроля;
						li протоколы лабораторных, инструментальных, физических факторов производственных помещений, выпускаемой продукции;
						li личные медицинские книжки сотрудников, список сотрудников
						li журнал гигиенический (на&nbsp;кондитерском производстве)
						li договор на&nbsp;утилизацию ламп (при их&nbsp;наличии)
					+b.info-item
						+e.title Как узнать о&nbsp;предстоящей проверке?
						p На&nbsp;<a href="#">официальном сайте Федеральной службы по&nbsp;надзору в&nbsp;сфере защиты прав потребителей и&nbsp;благополучия человека</a> можно найти полную информацию о&nbsp;планируемых сроках проведения проверки
					+b.info-item
						+e.title Распространенные нарушение обязательных требований в сфере защиты прав потребителей
						+b.doc-list.UL
							li несоблюдение поточности технологического процесса
							li отсутствие документов, подтверждающих качество и&nbsp;безопасность выпускаемой продукции.
							li отсутствие личных медицинских книжек у&nbsp;персонала
							li нарушение требований ТР&nbsp;ТС&nbsp;021/2011, и&nbsp;ТР&nbsp;ТС&nbsp;22/2011
							li отсутствие дезинфицирующих и&nbsp;моющих средств
							li отсутствие маркировки на&nbsp;уборочном инвентаре и&nbsp;др.
							li отсутствие подвода горячей воды к&nbsp;раковинам и&nbsp;производственным ваннам
							li отсутствие условий для соблюдения правил личной гигиены (нет мыла, полотенец, туалетной бумаги)
							li отсутствие производственного контроля на&nbsp;объекте
							li неисправность технологического оборудования
					.low-info Меры административного воздействия выносятся в соответствии с КоАП Российской Федерации «Кодекс Российской Федерации об административных правонарушениях" от 30.12.2001 N 195-ФЗ
	// end sStages