mixin guideItem(i,title)
	.col-6.col-md-4.col-lg-3
		+e.item(href='#')
			+img(`img/${i}.svg`).img-svg-js
			+e.title= title

mixin sGuide(data)
	// start sGuide
	+b.SECTION.sGuide.section#sGuide&attributes(attributes)
		.container
			+b.section-title
				h2 Санитарный справочник предпринимателя
			+e.row.row
				+guideItem(`medicine`,`Медицина`) =
				+guideItem(`social`,`Социальные организации`)
				+guideItem(`utilities`,`Коммунальные услуги`)
				+guideItem(`person`,`Персональные услуги`)
				+guideItem(`hotels`,`Гостиницы и туризм`)
				+guideItem(`park`,`Культура, досуг и отдых`)
				+guideItem(`hand`,`Детские и молодежные организации`)
				+guideItem(`manufacturing`,`Пищевое производство`)
				+guideItem(`dish`,`Общественное питание`)
				+guideItem(`ice-cream`,`Торговля`)
				+guideItem(`industry`,`Промышленность и сельское хозяйство`)
				+guideItem(`bus`,`Транспорт`)
	// end sGuide